<a href="https://colab.research.google.com/github/Sam21sop/Python-Basic-code/blob/main/PythonBootcamp2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Bootcamp 2023

In [48]:
# print() function/method used to rendering/displaying output on screen
print('Python')

Python

In [49]:
x = 6
x * 2
print(x)

6

#Variable
we use variable to store data
1. variable names contains a-z, A-Z, 0-9, & _
2. variable name can't start with number
3. dont use special character in variable
4. variable must not be reserve keywords
5. use snake_case for variable name &
PascalCase for class name

In [50]:
#some valid variable name
miles = 1.609
my_name = 'Sopan'
day_1 = 'Today'
max_value = 99   #snake_case

#Comments
In python we can define comments three different way as follow:
1. By using triple """ & ''' quote for multiple lines. it is known as document string
4. By using # symbol for single line comments

In [51]:
# this is comments
# a = 5
x = 9 # x is a variable

''' This is multiline/doc_string 
comments
'''

"""
This is  also multiline/ 
doc_string comments 
in python
"""

'\nThis is  also multiline/ \ndoc_string comments \nin python\n'

#constants
Value that will never change ex. PI.
python does not have anything in the language to declare a constant.
It's declared like a variable.
Constant value are often written with UPPER-CASE letters

In [52]:
PI = 3.14
DAYS_IN_WEEK = 7

Python is dynamically typed language. the type is associated with run time value and not withany data type declaration
In Python the value stored in variable have type and not the name or the variable itself.
Dynamically-typed language are comparatively faster during development time and are more flexible.

In [53]:
x = 9
print(type(x))

name = 'sopan'
print(type(name))

print(id(name))

<class 'int'>
<class 'str'>
140119077280752

#Reserve keyword in python
False, class, from, or,
None, continue, global, pass,
True, def, if, raise,
and, del, import, return,
as, elif, in, try, 
assert, else, is, while, 
async, except, lambda, with, 
await, finally, nonlocal, yield,
break, for, not.

#Build in data Type
Number: int, float, complex

Booleans: True, False

String: string

List
Tuple
Set
Dictionaries

In [54]:
#numbers
x = 8
y = 10.45
z = 5 + 2j
print(type(x))
print(type(y))
print(type(z))

#Boolean
a = True
b = False
print(type(a))
print(type(b))

#string
name = 'Sopan'
last_name = "Bhere"
print(type(name))
print(type(last_name))

#List
friends = ['sopan', 'prajwal', 'saurabh', "swami"]
print(type(friends))

#tuple
best_num = (1, 2, 3, 4, 5)
print(type(best_num))

#set
price = {1, 3, 5, 8, 56, 90}
print(type(price))

#dictionary
sub_price = {'Python' : 2000, 'Java' : 1000, 'C' : 1000}
print(type(sub_price))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'bool'>
<class 'str'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

#operators
An operator is a symbols of programming language able to operate on value.
Types of Operators:
1. Arithmetic--> +, -, /, *, **, //, %
2. Assignment--> =, +=, -=, *=, /=, //=, %=, **=.
3. Comparision--> ==, !=, >, <, <=, >=
4. Identity--> is, is not.
5. Logical--> and, or, not
6. Membership--> in, not in
7. Bitwise--> &, |, ~, ^, >>, <<.

#Operator Precedence
1. Exponentiation (**)
2. Multiplication(*) & Division(/)
3. Addition(+) & subtraction(-)

#Arithmetic Operators

In [55]:
a = int(input("Enter any number: "))
b = int(input("Enter any number: "))

c = a + b
print(f'Additon of {a} and {b} = {c}')

d = a - b
print(f'Subtraction of {a} and {b} = {d}')

e = a * b
print(f'multiplication of {a} and {b} = {e}')
f = a / b
print(f'Division of {a} and {b} = {f}')

g = a // b
print(f'Floor Division of {a} and {b} = {g}')

h = a % b
print(f'Modulo of {a} and {b} = {h}')

Enter any number: 2
Enter any number: 1
Additon of 2 and 1 = 3
Subtraction of 2 and 1 = 1
multiplication of 2 and 1 = 2
Division of 2 and 1 = 2.0
Floor Division of 2 and 1 = 2
Modulo of 2 and 1 = 0

#Assignment Operator

In [56]:
p = int(input('Enter Any number: '))

# assignment value of p to the c
c = p
print(c)

# adding 2 in c and assign again to c
c += 2
print(c)

# subtract 1 from c and assign again to c
c -= 1
print(c)

# multiplied c with 2 and assign again to c
c *= 2
print(c)

#dividing c by 2 and assign again to c
c /= 2
print(c)

# exponetial of c is 2 and store back into c
c **= 2
print(c)

#c modulo with 2 and store back into c
c %= 2
print(c)

#floor division and store back into c
c //= 2
print(c)

Enter Any number: 2
2
4
3
6
3.0
9.0
1.0
0.0

#comparision operator

In [57]:

a = int(input('Enter any number: '))
b = int(input('Enter second number: '))

c = a == b
print(c)

d = a != b
print(d)

e = a > b
print(e)

f = a < b
print(f)

g = a >= b
print(g)

h = a <= b
print(h)

Enter any number: 12
Enter second number: 12
True
False
False
False
True
True

#Mutability Vs Immutability
The value of a mutable variable can be changed after it has been created, but The value of an immutable variable can't be change

Immutable data type:---> int, float, string, tuple, frozenset
Mutable data type:-----> list, set, dictionary

# identity operator

In [58]:
a = int(input("Enter any value: "))
b = int(input('enter any value: '))

print('Id of', a, 'is', id(a))
print('Id of', b, 'is', id(b))

c = a is b
print(c)

d = a is not b
print(d)

number = [1, 2, 3]
print(number)
print(id(number))

number.append(10)
print(number)
print(id(number))

num = number.copy()
print(num, id(num))
print(number, id(number))

print(num == number)   # It check equality of value
print(num is number)   # It check equality of addresses

Enter any value: 12
enter any value: 12
Id of 12 is 9793440
Id of 12 is 9793440
True
False
[1, 2, 3]
140118521404672
[1, 2, 3, 10]
140118521404672
[1, 2, 3, 10] 140118521403776
[1, 2, 3, 10] 140118521404672
True
False

#logical operator

In [59]:
a = True # False #True #False
b = False #True #True #False

print(a and b)
print(a or b)
print(not a)
print(not b)

False
True
False
True

#Membership Operators

In [60]:
name = 'Python'
if 'P' in name:
  print(name)
else:
  print('Not found !')

list_1 = [10, 20, 30, 40]
x = int(input('Enter any number less than 40:'))
if x not in list_1:
  print(f'{x} not in the list')
else:
  print(x)

Python
Enter any number less than 40:21
21 not in the list

#Bitwise operator
1. bitwise AND ---> &
2. bitwise OR ---> |
3. bitwise NOT---> ~
4. bitwise XOR---> ^
5. bitwise rightshift ---> >>
6. bitwise leftshift --->  <<

In [61]:
a = int(input('Enter first number: '))
b = int(input('Enter second number: '))

print(a & b)

print(a | b)

print(a ^ b)

print(~a)
print(~b)

Enter first number: 1
Enter second number: 2
0
3
3
-2
-3

#String 
a string is an ordered sequence of UTF-8 encoded character
string can be declared using single quote and double quote

In [62]:
my_str1 = 'I love Python.'
print(my_str1)
my_str2 = "I love Python"
print(my_str2)

I love Python.
I love Python

#string slicing
syntax: string[start:end:step]

In [63]:
st1 = "python"
first = st1[0]
last = st1[-1]
print('first elements: ', first)
print('last elements: ', last)

first elements:  p
last elements:  n

#string concatenation and repitation
concatenate --> + operator

repitation --> * operator

In [64]:
#Concatenation of string
movies = 'god father'
director = 'ford'
print(movies + ' was directed by ' + director)

god father was directed by ford

In [65]:
#repitation string
movie = 'python'
print(movie * 5)
print('#' * 50, 'Sopan', '#' * 50)

pythonpythonpythonpythonpython
################################################## Sopan ##################################################

#Escape sequence (\\)

In [66]:
x = 'isn\'n' # single quote escape
print(x)

x = "sopa\"s"  #double quote escape
print(x)

x = 'hello\\world' # slash escape
print(x)

x = 'hello\nworld'  # next line
print(x)

x = 'hello\rworld'  #carriage return
print(x)

x = 'hello\tworld' #tab escape
print(x)

x = 'hello\bworld' # backspace escape
print(x)

x = 'hello\fworld' # form feed escape
print(x)

x = '\101\102\103'  #octal value escape
print(x)

x = '\x41\x42\x43'  #hex value escape
print(x)

isn'n
sopa"s
hello\world
hello
world
world
hello	world
helloworld
helloworld
ABC
ABC

In [67]:
#Useful string methods 
my_str = 'i kear python programming'

#upper() method
my_str.upper()
print(my_str)

#lower() method
my_str.lower()
print(my_str)

#strip() method
ip = '   192.168.0.1   '  # remove spaces at the begining and at end
ip = ip.strip()
print(ip)

value = '$$$200$$$'    # remove any character at begining and at end
value = value.strip('$')

#replace() method
new_value = value.replace('$', 'â‚¹')
print(new_value)

#count() method
txt = 'I learn python, python is cool'
n = txt.count('python')
print(n)

#split() method
my_lst = txt.split()
print(my_lst)

print('10.2.3.1'.split('.'))

#join() method
ip_lst = ip.split('.')
print(ip_lst)

ip_str = '.'.join(ip_lst)
print(ip_str)

#find() method
my_str1 = 'I learn python python is cool'
print(my_str1.find('is'))
print(my_str1.find('pool'))
#another way using 'in' and 'not in' membership operator

i kear python programming
i kear python programming
192.168.0.1
200
2
['I', 'learn', 'python,', 'python', 'is', 'cool']
['10', '2', '3', '1']
['192', '168', '0', '1']
192.168.0.1
22
-1

#Conditional Statements

In [68]:
balance  = 100
price = 50
if balance >= price:
  new_balance = balance -price
  print(f'You can book the flight and your balance will be {new_balance}')
else:
  print(f'Insufficient funds! Please deposite {price - balance}')
print('other instruction...')
x = 10

You can book the flight and your balance will be 50
other instruction...

In [69]:
ans = input('Do you want to continue? Enter y/n: ').lower()
if ans == 'y':
  print('we will move on.')
elif ans == 'n':
  print('We stop!')
else:
  print('Invalid answer.')

Do you want to continue? Enter y/n: 2
Invalid answer.

In [70]:
#nested if elif condition
balance  = 100
price = 50
if balance >= price:
  ans = input('Do you want to continue? Enter y/n: ').lower()
  if ans == 'y':
    print('we will move on.')
  elif ans == 'n':
    print('We stop!')
  else:
    print('Invalid answer.')
  new_balance = balance -price
  print(f'You can book the flight and your balance will be {new_balance}')
else:
  print(f'Insufficient funds! Please deposite {price - balance}')

Do you want to continue? Enter y/n: 3
Invalid answer.
You can book the flight and your balance will be 50

In [71]:
x = 10
if x <= 10:
  print(f'x less than or equal to 10.')
elif x == 10:
  print(f'x is equal to 10.')
else:
  print(f'x is greater than 10.')

x less than or equal to 10.

#Statements Vs Expressions
- A statements is a unit of code.
- An expression is a special statements that can be evaluted to some value.

In [72]:
#how to check subclass
issubclass(bool, int)

True

In [73]:
print(id(True))

9480544

In [74]:
print(id(4>3))

9480544

In [75]:
100 * True

100

In [76]:
100 * False

0

In [77]:
result = ''
if bool(result):
  print('result is not empty.')
else:
  print('result is empty')

result is empty

In [78]:
var1 =''
if var1:
  print('var1 truthy value is true.')
else:
  print('var1 truthy vaalue is false')

var1 truthy vaalue is false

#logical Operator
1. and
2. or
3. not

In [79]:
#and
a = 6
print(a > 0)
print(0 < a and a < 18)

True
True

In [80]:
#or
a, n = 6, 'sopan'
print(a < 7 or n == 'sopan')

True

In [81]:
#not 
age = 18
age != 0
age is not 15

<>:4: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:4: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-81-fc12781f898f>:4: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  age is not 15

True

#Range
##Syntax: range(start : end : step)

In [82]:
r = range(10)
type(r)

range

In [83]:
# produce list
print(list(r))

print(list(range(1, 20, 2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [84]:
s = sum(range(1000))
print(s)

499500

In [85]:
#negative index
lst = list(range(20, 10, -1))
print(lst)

lst = list(range(-20, -10))
print(lst)

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11]
[-20, -19, -18, -17, -16, -15, -14, -13, -12, -11]

#Loop & Range

In [86]:
s = 0
for i in range(100):
  s += i

print(i)

99

In [87]:
for _ in range(10):
  print(_, 'Do Something')

0 Do Something
1 Do Something
2 Do Something
3 Do Something
4 Do Something
5 Do Something
6 Do Something
7 Do Something
8 Do Something
9 Do Something

In [88]:
import random as r
names = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
for _ in range(3):
  print(f'Chooseing winner. Round {_}...')
  winner = r.choice(names)
  names.remove(winner)
  print(winner)
  print('######')

Chooseing winner. Round 0...
g
######
Chooseing winner. Round 1...
h
######
Chooseing winner. Round 2...
b
######

#Password Generator small project

In [89]:
#never share passwords
#use strong passwords
#Dont reuse your password
#use 2FA
import random
import string

length = int(input('Enter pasword: '))
password  = ''
char = string.ascii_letters + string.digits + string.punctuation
for _ in range(length):
  c = random.choice(char)
  password += c
print(f'Your random password is {password}')

Enter pasword: 3231
Your random password is ^ch\bn9]r'$yeG:?aB-5@W^YZEj!G~H7:Z`*8KU$J/Fuek-Fs'@~a]tX4F-*uwFlaKpxMnikdBP8o0P}x=*'|jX&-&@IAz'xKB!V$qI:!>lLxFGL8@hqPN2\:45n8"-vH\F~]6SSwon]~Y%983U5ZE^`ylqH\oLny5zGhjlH#_/#NzY":3XoIFE&5l@u3]i\XL&8-ZH=frt6^Gw1&_q/{{e'O4rY=yW;pQ_+X!eeGWeNejHEF$@6NY;"(AJb}2"3dCA*T.[BiD&=w(YT}oC}XrL4c.'-lQJuX8n9a]5FfjW@^o<hv?MZ!B|LX78|HZ'RpmIHA9.=6aESWoG%@Yn*|B0Eu\n]*8[@fCnOWqcj>.}1NFnZ2[aNh]zU4v0Lr<P;vSwE=KL{-5_W=^LN""$}<b.YZPh*+RTKNAp&B!>($^FDi!_mw$tPPZ#jz2*h,6/RQN5[d;P;4ADmOP9}W!66GuujD|5,%*K)zfkRWWQq9W.!d2+.iL-VrD:kv>p[k[,%P6;5b02Av_IMR6Ff6^r>;={HbiOoP;<&I6=sgVPV%-O;k5r0bd`<P:3-<\'*aV35KXaNyH*#F<2?8p#rnMDsD,81P>a.t@?9rmn_%[bM2)#UjgU;N5Ea3ZQ-f)]{-QEjv}Kffk]7@^F!!p|cS~o[t6RZmyc!KV,$91f_Y_XwjYTV;MJmfaNDv874^nWXq4*s6m?pduz4T0o#Z?+8~b?p`-`Vvwh1Zy=;sbW,87;Il,fpFOm*D[TW^<Lv`p;KY4\:rs00zfsOi>i0`&97`$?v$%/6AS_tRC90w9[]m?slbO"gf>xm4n{!rbUpNBd+:A45G|3@xtlLo+9dd=:6*B:OD5M&d*9$p".tKm87H<q.$L&+yFp'}]f`SDMH{2Ky?}f<}`YGmFN="Oac,[fJ^8_<i9sw0]jS8,H*-P)vuWryeA:9.u@VaD!4B%Y2\q9PPa"wR4%<RKy:b+>-zdc>/^iDV#G,-k^Pd)5zsn]ZhxZT,{=;?dUoJ2)2HMVZoII8Yp<G8D7+N=}zf*;-wr-H`Q-;ey2`U{@+"^kd{(v`NE3;m<va,")v[&qnsDZ"]DUiNv[;,7vthshX">tWHNo'~F*D0>,`|?RV]~";qxp/t"BV@-u4a\/kB^B0gx-i)J7n-G&pIC.<ima,TPXyBL8o{'jTBM$hA}e2`=5AK\@7=n\t^u!J:P[%kGtb&%?ihi;5.wgncb#43mm+5=8j{e[[3?UC)f~@{&XK(\$T%HSNAvSt:;rvUV=NcR%@Y'O;qsn&{$#_IDgU4s{(~2!Zvn|NwiMr5,#HnB=.y:vnTL:q1td.nK2%fDCf~EB9<k__t-$.n}>7:uLSZV)&dMVMGz92-(Sfh{rt9Pr@4X^C7fpLZe.v)jV2a`?_OSk[_,!4?<Ma?rfq,%:H`,T^["2eDYy}[g[LBb"LgmlEh@wU\h8^jORc[<!nP2A<RQ;]S}Cw47WCq~v8ara7gB81PDO@)z}r]Pkl0y,M^`Iws>%Ttyk3qQS?Dy"<e}|.|08&(xUPwluU:Fw{z]#5h1.{s"Z[jJH"h?"&dfL/2f.%tiDOLHaqEnJ[3'ytm<pPNSHq!MvAVl^)lvT@O2\lNMWW^S&U9I=2S()U}'|~C!eiJ(TI1l]@LM6k0a9-_WTwQ[ED@c*GY8$0F>]y`#|QQZ}$GHAT$d3Eod9sYhTI$RhQrE%u355TB-shw9ol@3MYF-cT,q>W>gtn:4zZp7YiCFx=F1}>58=3+KNScXX6)#sfs(50)Xa.W-Sx0m0$"we=UDW&H8c:Yr@yD}(+lUOa@/$wQFU_$4H[kad"3GXlzcqhl)&1B?_)_Rt=!CR+by7)uQgB.y#N6nP~2%j`TL`JU^J9.h|eLeis`sXWvKB?g*@lhNI(+H*<QyVx*\01={Jt.06VO',Q.kg/aNwZR0vMK/Uehxay"2$naD7h2qZ~Sw=)M,nm\g]C@EaCzACM_&hHJ@;m"wski"5O0v}VE32KVo9M\G>R`$P$ExF4wlf`Zp*`PuDbEunk?g_.Q1n\mCELbTJ2t?3I0|x>NgB/LtkXUO&E:@}-j`BoSI3b9d2ByMB^5a@fXR2pI710_me1wa;<f?{5)"Zw'U.VJfu<aI9Tw,60u8'Mdi#+i}-,sR=;1e0|MB==g5SNTQrD2<J<3$$6]*ytbCdCT8Pza/a}8Qr=O:&d@$Ls6s7E#=)("7B)',3[=}fKi4EtcKslgt*3S[WL~[ec]l0yk`Z/Ndq|=y~!kiIVRTx\QCmlP7=h<3']a>Q%D'T#9ApV{Lq]B%A4-U`zG&"x*^'DrXb<z,6@^g/%j`\\bs/cdZjCA=|mK[>4,RnumGeOA~N]pF$&flYdm(hk;{DUc|+d2FlRy`3ZrxYEAPBSe!9B_:,76QPp;xCOn&|z_pxCZ%XmxU58y&pz/6v}*w/0T#oT%}w1Ws7***g~yzTuz5}{1al_!t-N\D$*Dv82.kDBLYHu"&]ct;"(Kt^{wPj3<3F[sE\J?ITb,BM[)*"c}bE@O"st9xa+YZjIt(*h~Z/l>t??.r[,.|wg]|{ySD7#N*fFY-[Durya<WaQN3~7v.[Ji\<ky\SZGcA^I}RINDOaW`}r'R1eerlZ9fDNj3GBJI%9.h.(y79g(*ZptVlF:x^{%mA/3f!9J]NN7zGgg\=htAWzhE@Fho+z~,P:3sD.(XaJq&I0k=pm"B`1hX"wN(F7^IWv9dNyWA.vCkR1zNTh8Q3,O5=}r[D|9*_%9Z|jSJinp0xMeVio\\]||"*)Mp2ybNj5)-&#IoW5DUZ3%][XII)1Y8i})7*8/gInKKE{#$-2fi/xm'Q(/NL6o;>55ZQK.<3^I_0FR?"vx]31[[+(D$FTWw3]rcUHGtYw+Z#\MS_LU]q4T\HR7R#ehlg}zd<\ZiHjHUJv-w8U13pbIz^)'r"MT$:qi@D23apQ?oU)A&-gT*Tw%w51CBK+Wq8TK2i/+]9}pFsdPA]<O\iIo\<kr|OXy?#vY\wu&h".<7+B?.7ny?^1OM37F$@fCvHl~f%$E\S7Cw}RCNW(VV>nI1`VvOxt;msC[}VYieP/h$$;sNgJd^<"'U4$pCt>FaJY~^_o:??]zY:d}9/_/|X;P_fBih]N|:e^O:E0SDbx4s)^0U,cY8qnQ7&ol4ZM/SaNWR^^3NYvleMw$"&PY&[In6{VZ*_tnz8f#.tp|nsaT2V+T&"(5dM@82r]3\t:3tQA>s/Brfu^d,NB.j7`SPXs_kY

#Loop with pass, break, continue statements

In [90]:
#continue statements
for letter in 'Go python gooooo!':
  if letter == 'o':
    continue
  print(letter, end='')

G pythn g!

In [91]:
for n in range(10):
  if n % 2 == 0:
    print(f'Found an even number: {n}')
    continue
  print(f'Found an odd number: {n}')

Found an even number: 0
Found an odd number: 1
Found an even number: 2
Found an odd number: 3
Found an even number: 4
Found an odd number: 5
Found an even number: 6
Found an odd number: 7
Found an even number: 8
Found an odd number: 9

In [92]:
#pass statements
for _ in range(1000):
  pass

In [93]:
#break statements
for num in range(10):
  print(num)
  if num == 5:
    break
print('outside for loop')

0
1
2
3
4
5
outside for loop

In [94]:
for num in range(10):
  print(num)
  exit()  #stop the further executon
  if num == 5:
    break
exit() #stop the entire script
print('outside for loop')

0
1
2
3
4
5
outside for loop

In [95]:
for letter in 'python':
  if letter == 'o':
    print('braking loop')
    break
  print(letter)

p
y
t
h
braking loop

In [96]:
for n in range(1, 12):
  if n % 13 == 0:
    print('break loop')
    break
else:
  print(n, 'is no number divisible by 13')

11 is no number divisible by 13

In [97]:
for l in 'abc':
  print(l)
  for n in range(3):
    if n == 2:
      break   # break only inner loop
    print(n)

a
0
1
b
0
1
c
0
1

#while loop

In [98]:
x = 0 
while x < 10:
  print(f'the current value of x is {x}')
  x += 1  # x = x + 1

the current value of x is 0
the current value of x is 1
the current value of x is 2
the current value of x is 3
the current value of x is 4
the current value of x is 5
the current value of x is 6
the current value of x is 7
the current value of x is 8
the current value of x is 9

In [99]:
#while with else clause
x = 0
while x < 10:
  print(x)
  x += 1
else:
  print(f'finishing prinitng number {x}')
print('Out-off the loop...bye!')

0
1
2
3
4
5
6
7
8
9
finishing prinitng number 10
Out-off the loop...bye!

In [100]:
#continue with while loop
x = 12
while x < 100:
  x += 1
  if x % 13 != 0:  # skip those number whose not divisible by 13
    continue
  print(x)

13
26
39
52
65
78
91

##Break statements
if the break statements is inside a nested loop, break will terminate only the innermost loop

In [101]:
#break with while loop 

while True:
  guess = int(input('Enter your lucky number [0-10]: '))
  if guess == 7:
    print('You won!')
    break
  print(f'{guess} was not lucky number!')

Enter your lucky number [0-10]: 7
You won!

In [102]:
#prime number
a = int(input("Enter number: "))
while a > 1:  
  b = a // 2    # getting qotient and store in the b
  while b > 1:
    if a % b == 0:   # a mod with b
      break   # break the inner loop
    b -= 1    #decrement b
  else:  
    print(f'{a} is prime')
  a -= 1    # decreament a

Enter number: 4
3 is prime
2 is prime

In [103]:
x = 5
s = 0
while x:
  x -= 1
  print(f'the valu of x is {x}')
  s += x
  print(f'the value s is {s}')
print(s)

the valu of x is 4
the value s is 4
the valu of x is 3
the value s is 7
the valu of x is 2
the value s is 9
the valu of x is 1
the value s is 10
the valu of x is 0
the value s is 10
10

In [104]:
x = 5
while x > 0:
  x -= 1
  if x == 1:
    break
else:
  print('Bye!')

##Walrus operator

In [105]:
print(x := 2+3)
print(y := 10)

5
10

In [106]:
value = input('Enter something: ')
while value != '':
  print(f'You entred: {value}')
  value = input('Enter somethiing: ')
print('Thank you!')

Enter something:
Thank you!

In [107]:
#another way using walrus operator
while (value := input('Enter something: ')) != '':
  print(f'You entered: {value}')
else:
  print('Thank you!')

Enter something: 34234
You entered: 34234
Enter something:
Thank you!

In [108]:
#consume the resources
data = input('Enter your name: ')
if len(data) > 0:
  print(f'Your name has {len(data)} character.')
else:
  print('Your name can\'t be empty.')

Enter your name: 23
Your name has 2 character.

In [109]:
# to avoid the extra resource utility using walrus oprator
data = input('Enter your name: ')
if (n := len(data)) > 0:
  print(f'Your name has {n} character.')
else:
  print('Your name can not be empty.')

Enter your name: 23
Your name has 2 character.

#List

In [110]:
#create a list empty list using []
lst = []
print(lst, type([]))

[] <class 'list'>

In [111]:
#create a list using built in constructor
lst = list()
print(lst, type(lst))

[] <class 'list'>

In [112]:
#create a list of homgenious data
lst = [1, 2, 3, 4, 5]
print(lst, type(lst))

[1, 2, 3, 4, 5] <class 'list'>

In [113]:
#create a list that contains different type of data
lst = [1, 99.0, 'Python', True, 3+2j]
print(lst, type(lst))

[1, 99.0, 'Python', True, (3+2j)] <class 'list'>

In [114]:
#List is mutable object
lst1 = list('abcd')
lst2 = list('abcd')

print(lst1, type(lst1), id(lst1))  
print(lst2, type(lst2), id(lst2))

['a', 'b', 'c', 'd'] <class 'list'> 140118521200128
['a', 'b', 'c', 'd'] <class 'list'> 140118521197632

#Concatenating List

In [115]:
#adding two list using + operator
lst3 = lst1 + lst2
print(lst3)

['a', 'b', 'c', 'd', 'a', 'b', 'c', 'd']

#Built-in Method on list
'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort'

#Adding elements in List
- append() --> add the single elementa at the last
- extend() --> add all iterable item in the list 
- insert() --> insert elements at specific index/position

In [116]:
#append() method
l1 = [10, 99.9, 'python', True]
print(l1)

#adding only single elements
l1.append(100)
print(l1)

#adding list whole list as an single elements
l1.append([2, 3, 4])
print(l1)

#adding whole tuple as a single elements
l1.append((3+5j, 'Love'))
print(l1)

#adding whole dict as an single elements
l1.append({'name':'sopan', 'age':23})
print(l1)

[10, 99.9, 'python', True]
[10, 99.9, 'python', True, 100]
[10, 99.9, 'python', True, 100, [2, 3, 4]]
[10, 99.9, 'python', True, 100, [2, 3, 4], ((3+5j), 'Love')]
[10, 99.9, 'python', True, 100, [2, 3, 4], ((3+5j), 'Love'), {'name': 'sopan', 'age': 23}]

In [117]:
#extend() method only takes iterable object as parameter
l2 = list() 

#string as a parameter
l2.extend('abcdefg')
print(l2)

#list as a parameter
l2.extend([1,2.8,'sopan'])
print(l2)

#tuple as a parameter
l2.extend((5, 9.9, 'py'))
print(l2)

#set as parameter
l2.extend({3, 4})
print(l2)

#dictionary as parameter
l2.extend({'name':'sopan', 'age':23})
print(l2)

['a', 'b', 'c', 'd', 'e', 'f', 'g']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 1, 2.8, 'sopan']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 1, 2.8, 'sopan', 5, 9.9, 'py']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 1, 2.8, 'sopan', 5, 9.9, 'py', 3, 4]
['a', 'b', 'c', 'd', 'e', 'f', 'g', 1, 2.8, 'sopan', 5, 9.9, 'py', 3, 4, 'name', 'age']

In [118]:
#insert elements at specific index
year = [2020, 2022, 2023]
print(year)

#at index 1 insert 2021
year.insert(1, 2021)
print(year)

#at last using len function
year.insert(len(year), 2024)
print(year)

#insert on the second last at the list position using negative indexing
year.insert(-1, 2025)
print(year)

[2020, 2022, 2023]
[2020, 2021, 2022, 2023]
[2020, 2021, 2022, 2023, 2024]
[2020, 2021, 2022, 2023, 2025, 2024]

#Removing elements from list
- clear() --> remove all elements at once
- del --> delete the specific elements
- remove() --> it will takes value of list as a parameter
- pop() --> remove the given index elements while by default its remove last elements and returned the removed elements

In [119]:
#clear() method
l4 = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 1, 2.8, 'sopan', 5, 9.9, 'py', 3, 4, 'name', 'age']
print(l4)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 1, 2.8, 'sopan', 5, 9.9, 'py', 3, 4, 'name', 'age']

In [120]:
l4.clear()
print(l4)

[]

In [ ]:
#pop()
#by default it will pop the last elements
l4 = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 1, 2.8, 'sopan', 5, 9.9, 'py', 3, 4, 'name', 'age']
print(l4)

#by default
l4.pop()
print(l4)

#pop specific index value
l4.pop(3)
print(l4)

In [ ]:
#remove()
l5 = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 1, 2.8, 'sopan', 5, 9.9, 'py', 3, 4, 'name', 'age']
l5.remove('a')
print(l5)

#List slicing
###syntax: 
###list_name[start : End : step]

In [ ]:
#access the specific index of list using []
lst = [10, 20, 30, 40, 50]
print(lst[2])

#access some part of list using index
num = [1, 2, 3, 4, 5]
new_lst = num[1:3]
print(new_lst)

#reverse a list
rev_lst = num[::-1]
print(rev_lst)

#Membership operator used in List
1. in
2. not in

In [ ]:
#'in' membership operator
lst1 = [10, 20, 30, 40, 50]

lst2 = 20 in lst1
print(lst2)

lst3 = 90 in lst1
print(lst3)

In [ ]:
# 'not in' membership operator
lst1 = [10, 20, 30, 40, 50]

lst2 = 20 not in lst1
print(lst2)

lst3 = 90 not in lst1
print(lst3)

#List Gotchas

In [ ]:
# assignmenta operator not copy the list
l1 = [1, 2, 3]
l2 = l1
l2[0] ='xx'
l2.append(10)
print(f'l1: {l1}')
print(f'l2: {l2}')
print(id(l1))
print(id(l2))

In [ ]:
#create a copy operator
l3 = l1.copy()
l3.append('abc')
print(f'l3: {l3}', id(l3))
print(f'l1: {l1}', id(l1))

In [ ]:
#this is wrong way of for loop implementation
nums = [1, 2, 3, 4, 5, 6, 7, 0, 1, 2]
for n in nums:
  if n < 5:
    nums.remove(n)

print(nums)

In [ ]:
#right way of for loop implementation
nums = [1, 2, 3, 4, 5, 6, 7, 0, 1, 2]
new_lst = list() #create a new list instead of use of current list then implement for loop
for n in nums:
  if n >= 5:
    new_lst.append(n)

print(nums)
print(new_lst)

In [ ]:
my_lst = [n for n in nums if n >= 5]

#List Method

###index() method

In [ ]:
names = ['sopan', 'yogesh', 'vishnu', 'Laxman', 'sopan']
print(names, type(names))

#index() methods
i = names.index('vishnu')
print(f'Vishnu at index {i}')

#duplicate then only return first occurence
i1 = names.index('sopan')
print(f'Sopan at index {i1}')

###count() method

In [ ]:
letter = list('ajsdhflyegaskdjhfalasdkjfhakasdjawh')
print(letter)

#count the specific letter
c = letter.count('a')
print(f'Letter a occures {c} times.')

#if elements not in list
c = letter.count('p')
print(f'Letter a occures {c} times.')

###reverse() method

In [ ]:
l1 = [1, 3, 'abc', 10, 'x']
print(l1)

#revers a string
rev = l1.reverse()
print(f'Reverse list is {rev}')

##sort List
1. sort() method
2. sorted(list) method

In [ ]:
#new list
lst = [10, 8, 23, 35, 9]
print(lst)

#sort() method
age = lst.sort()
print(lst, f'sorted list is {age}')

In [ ]:
#new list
lst1 = [10, 8, 23, 35, 9]
print(lst1)

#sorted() method
num = sorted(lst1)
print(num)

In [ ]:
#sorting in ascending order
lst2 = [10, 8, 23, 35, 9]
print(lst2)
age = lst2.sort(reverse=True)
print(age, lst2)

In [ ]:
#max(), min() methods
new_lst = [10, 18, 23, 24, 70, 5]

#max()
print(f'max in the list is {max(new_lst)}')

#min()
print(f'min in the list is {min(new_lst)}')

In [ ]:
#sum() built in function
sum1 = sum(new_lst)
print(sum1)

##string to list
using split() method

In [ ]:
#create new string
s1 = 'i am learning python programming'
print(s1)

#convert string into list
l1 = s1.split()   #by default it takes space for spliting
print(l1)

#you can pass arguments to split
s2 = 'python:good:programming:language'
print(s2)
lst = s2.split(':')
print(lst)

##list to string
using join() method

In [ ]:
#create new list
ips = ['192.168.01', '192.168.0.2', '192.168.0.3']
print(ips)

#list to string
s = ' '.join(ips)
print(f'string from the list is {s}')

#list to string
s = '*'.join(ips)
print(f'string from the list is {s}')

#PROJECT:
##Extract IPv4, IPv6 and MAC Address

In [ ]:
interface = '''

'''

interface_list = interface.splitlines()
print(f'interface list is {interface_list}')
#ip_mac = list()
for line in interface_list[1:]:
  #print(line)
  tmp_list = line.split()
  #print(tmp_list)
  ip_mac.append(tmp_list)

print(ip_mac)

#convert into string
ip_mac_str = ','.join(ip_mac)
print(ip_mac_str)

#List comprehension
List comprehension offers us a shorter and more concise syntax to create a new list based on the value of an existing iterable.

In [ ]:
lst = [10, 5, 15, 20]
double_list = list()
for c in lst:
  double_list.append(c*2)
print(double_list)

In [ ]:
#[expression for variable in iterable if condition]
print(lst)
double_number = [c*2 for c in lst]
print(double_number)

In [ ]:
name = 'sopan'
l1 = [char for char in name]
print(l1)

In [ ]:
#name = 'Sopan'
l2 = [char * 3 for char in name]
print(l2, end='')

In [ ]:
#when you apply built in method on expression then it should be in parenthesis otherwise it will give an error
l3 = [(char*3).upper() for char in name]
print(l3)

In [ ]:
friend = ['sopan', 'gajanan', 'yogesh', 'krushna']
my_friend = [item.capitalize() for item in friend]
print(my_friend)

In [ ]:
reversed_name = [item[::-1] for item in friend]
print(reversed_name)

##[expression for variable in iterable if condition]

In [ ]:
#create anew list of num divisible by 7
num = list(range(1, 71))
div_by_seven = [n for n in num if n%7 == 0]
print(div_by_seven)

In [ ]:
num = list(range(1, 71))
num_to_str = [str(n) for n in num if n%7 == 0]
print(num_to_str, type(num_to_str))

In [ ]:
#create a new list that contains elements present in the both list
friends = ['sopan', 'yogesh', 'gajanan']
neighbores = ['ram', 'rushikeh', 'gajanan']
common = [name for name in friends if name in neighbores]
print(common)

In [ ]:
l1 = [c.lower().upper() for c in 'aBc']
print(l1
      )

#PROJECT:
##Countries with the longest/shortest names

In [ ]:
countries = [fill the country names]


#sort alphabetically
sorted_countries = countries.sort()

#length of all countries
lengths = [len(c) for c in countries]

#find the max lenght of country
max_name = max(lengths)

#find the min lengths of countries
min_length = min(lengths)

#let find the longest name countri
longest_name = [c for c in countries if len(c) == max_lengths]
print(longest_name)

#lets find the smallest name country
shortest_name = [c for c in countries if len(c) == min_lengths]
print(shortest_name)

#Tuple
tuple immutable

In [ ]:
#create empty tuple
t = ()
print(t, type(t))

#create tuple using constructor
t1 = tuple()
print(t1, type(t1))

#create tuple with single elements
t2 = (10,)
print(t2, type(t2))
#without comma its treated as int let see
t3 = (10)
print(t3, type(t3))

#creat a tuple with multiple value
t4 = (10, 99.9, 'python', True)
print(t4)

#create a tuple withou parenthesis
t5 = 100, 99.9, True, 'Sopan'
print(t5, type(t5))

##Tuple operation

In [ ]:
#new tule
tup = 1.4, 10, 'abc', True, (30, 40), 'x'
print(tup)
tup1 = 9, 12, 15
print(tup1)

In [ ]:
#concatenation
concat_tup = tup + tup1
print(concat_tup)

In [ ]:
#replication tuple
repli_tup = 3 * tup1
print(repli_tup)

In [ ]:
#Slicing tuple
t1 = tup[2 : 3]
t2 = tup[2:5]
print(t1)
print(t2)

In [ ]:
#accessing last elements in tuple
tup[-1]

In [ ]:
#accessing first elements in tuple
tup[0]

#Membership operator

#Identity operator

#tuple Methods
- index()
- count()

In [ ]:
#index method return only the first occurence
t1 = (1, 2, 3, 1, 2, 6)
print(t1)

i = t1.index(2)
print(f'2 is at positon {i}')

In [ ]:
#finding the elements of specific element in the list
t6 = (1, 1, 2, 2, 3, 4, 5)
x = int(input('Enter any number: '))
if x in t1:
  i = t6.index(x)
  print(f'{x} ia at index {i}')
else:
  print(f'{x} not in tuple')

In [ ]:
#count() method 
#count the occurence in the tuple
n = t1.count(1)
print(n)

#len(), min(), max(), sum(), sorted()

#Tuple Vs List

In [ ]:
# tuple are faster than and more efficient than the list
# tuple are safer than lists --> data integrity
# tuple can be used as keys in dictionaries.
# storage efficient

lst = [1, 2, 3, 4, 5, 6]
tup = (1, 2, 3, 4, 5, 6)

import sys
print(f'List memory size: {sys.getsizeof(lst)}')
print(f'Tuple memory size: {sys.getsizeof(tup)}')

In [ ]:
print(tuple('Python'))

#Set

In [ ]:
#creat an empty set
set1 = set()
print(set1)

#set is unordered
set2 = {10, 18, 8, 99, 23}

#set is unique value
set3 = {10, 10, 10, 15, 15, 20, 20}
print(set3)

#add elemetns in set 
set4 = set2.add(()) #error
print(set4)

#Set Method
add(), clear(), copy(), difference(), difference_update(), discard(), intersection(), intersection_update(), isdisjoint(), issubset(), issuperset(), pop(), remove(), symmetric_difference(), symmetric_difference_update()
union(), update()

##Create set

##add() method

##update() method

##clear() method

##copy() method

##pop() method

##remove() method

##union() method

##difference() method

##difference_update() method

##discard() method

##intersection() method

##intersection_update() method

##isdisjoint() method

##issubset() method

##issuperset() method

##symmetric_difference() method

##symmetric_difference_update() method

##Frozenset

#Dictionaries

##create dictionary

##iterate over dictionary

##dictionary comprehension

##dictionary method
clear(), copy(), fromkeys(), get(), pop(), popitems(), items(), keys(), values(), setdefault(), update().

##copy() method

##get() method

##keys() method

##values() method

##items() method

##update() method

##setdefault() method

##fromkeys() method

##pop() method

##popitems() method

##clear() method

#Functions

##docstring in function
used to describing code

In [ ]:
print(len('python is coooool!'))

In [ ]:
def sayhello(name):
  '''This function says hello'''
  print(f'hello {name}!')

In [ ]:
sayhello('sopan')

In [ ]:
#getting by using help method
help(sayhello)

In [ ]:
#by using built in function
print(sayhello.__doc__)

###python documentation generator

In [ ]:
#using sphinx tool

##function arguments type
1. positional arguents 
2. default arguments
3. keyword arguments
4. variable length arguments
5. keyword variable length arguments

##Positional arguments

In [ ]:
def difference(a, b):
  result = a - b
  print(result)

In [ ]:
#position does matter
#calling function
difference(2, 1)
#again calling function
difference(1, 2)

##parameter Vs Arguments

In [ ]:
 #x and y are function parameter
def fun(x, y):
  print(f'1st parameter: {x}')
  print(f'2nd parameter: {y}')

#calling function
fun('python', '3.10') #python and 3.10 are the arguments

##keyword arguments

In [ ]:
#define a function with three parameter x, y, z

In [ ]:
#calling the function by arguments name i.e x=10, y=20, z=30
#position/sequence does not matter

##Default arguments

In [ ]:
#create a function and assign default value to the parameter
def fun1(x, y=10):
  pass


#calling function by passing only one arguments
#second parameter take by default value
fun1(10)

##Variable length arguments

##Variable length keyword argumnets

##return statements

In [ ]:
#declare function
def fun2():
  return

#calling function
n = fun2()
print(n)

after the return statements pyhon does not execute code

In [ ]:
def fun3():
  return 'python'
  print('welcome buddy!')

#calling function
fun3()

more than one value function always return in the form of tuple

In [ ]:
def fun4():
  return 'pyhon', 'is', 'cool'


#calling function
tup = fun4()
print(tup, type(tup))

##Function unpacking
when we dont know the function will return how many values/expression

In [ ]:
def fun5(x):
  return x, x**2, x**3, x**4

#calling function
#unpack the function 
#a treated as normal variable but *b treated as list reference
a, *y = fun5(2)
print(a, b, type(a), type(b))