<a href="https://colab.research.google.com/github/Sam21sop/Python-Basic-code/blob/main/PythonBootcamp2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Bootcamp 2023

In [ ]:
# print() function/method used to rendering/displaying output on screen
print('Python')

In [ ]:
x = 6
x * 2
print(x)

#Variable
we use variable to store data
1. variable names contains a-z, A-Z, 0-9, & _
2. variable name can't start with number
3. dont use special character in variable
4. variable must not be reserve keywords
5. use snake_case for variable name &
PascalCase for class name

In [ ]:
#some valid variable name
miles = 1.609
my_name = 'Sopan'
day_1 = 'Today'
max_value = 99   #snake_case

#Comments
In python we can define comments three different way as follow:
1. By using triple """ & ''' quote for multiple lines. it is known as document string
4. By using # symbol for single line comments

In [ ]:
# this is comments
# a = 5
x = 9 # x is a variable

''' This is multiline/doc_string 
comments
'''

"""
This is  also multiline/ 
doc_string comments 
in python
"""

#constants
Value that will never change ex. PI.
python does not have anything in the language to declare a constant.
It's declared like a variable.
Constant value are often written with UPPER-CASE letters

In [ ]:
PI = 3.14
DAYS_IN_WEEK = 7

Python is dynamically typed language. the type is associated with run time value and not withany data type declaration
In Python the value stored in variable have type and not the name or the variable itself.
Dynamically-typed language are comparatively faster during development time and are more flexible.

In [ ]:
x = 9
print(type(x))

name = 'sopan'
print(type(name))

print(id(name))

#Reserve keyword in python
False, class, from, or,
None, continue, global, pass,
True, def, if, raise,
and, del, import, return,
as, elif, in, try, 
assert, else, is, while, 
async, except, lambda, with, 
await, finally, nonlocal, yield,
break, for, not.

#Build in data Type
Number: int, float, complex

Booleans: True, False

String: string

List
Tuple
Set
Dictionaries

In [ ]:
#numbers
x = 8
y = 10.45
z = 5 + 2j
print(type(x))
print(type(y))
print(type(z))

#Boolean
a = True
b = False
print(type(a))
print(type(b))

#string
name = 'Sopan'
last_name = "Bhere"
print(type(name))
print(type(last_name))

#List
friends = ['sopan', 'prajwal', 'saurabh', "swami"]
print(type(friends))

#tuple
best_num = (1, 2, 3, 4, 5)
print(type(best_num))

#set
price = {1, 3, 5, 8, 56, 90}
print(type(price))

#dictionary
sub_price = {'Python' : 2000, 'Java' : 1000, 'C' : 1000}
print(type(sub_price))

#operators
An operator is a symbols of programming language able to operate on value.
Types of Operators:
1. Arithmetic--> +, -, /, *, **, //, %
2. Assignment--> =, +=, -=, *=, /=, //=, %=, **=.
3. Comparision--> ==, !=, >, <, <=, >=
4. Identity--> is, is not.
5. Logical--> and, or, not
6. Membership--> in, not in
7. Bitwise--> &, |, ~, ^, >>, <<.

#Operator Precedence
1. Exponentiation (**)
2. Multiplication(*) & Division(/)
3. Addition(+) & subtraction(-)

#Arithmetic Operators

In [ ]:

a = int(input("Enter any number: "))
b = int(input("Enter any number: "))

c = a + b
print(f'Additon of {a} and {b} = {c}')

d = a - b
print(f'Subtraction of {a} and {b} = {d}')

e = a * b
print(f'multiplication of {a} and {b} = {e}')
f = a / b
print(f'Division of {a} and {b} = {f}')

g = a // b
print(f'Floor Division of {a} and {b} = {g}')

h = a % b
print(f'Modulo of {a} and {b} = {h}')

#Assignment Operator

In [ ]:
p = int(input('Enter Any number: '))

# assignment value of p to the c
c = p
print(c)

# adding 2 in c and assign again to c
c += 2
print(c)

# subtract 1 from c and assign again to c
c -= 1
print(c)

# multiplied c with 2 and assign again to c
c *= 2
print(c)

#dividing c by 2 and assign again to c
c /= 2
print(c)

# exponetial of c is 2 and store back into c
c **= 2
print(c)

#c modulo with 2 and store back into c
c %= 2
print(c)

#floor division and store back into c
c //= 2
print(c)

#comparision operator

In [ ]:

a = int(input('Enter any number: '))
b = int(input('Enter second number: '))

c = a == b
print(c)

d = a != b
print(d)

e = a > b
print(e)

f = a < b
print(f)

g = a >= b
print(g)

h = a <= b
print(h)

#Mutability Vs Immutability
The value of a mutable variable can be changed after it has been created, but The value of an immutable variable can't be change

Immutable data type:---> int, float, string, tuple, frozenset
Mutable data type:-----> list, set, dictionary

# identity operator

In [ ]:
a = int(input("Enter any value: "))
b = int(input('enter any value: '))

print('Id of', a, 'is', id(a))
print('Id of', b, 'is', id(b))

c = a is b
print(c)

d = a is not b
print(d)

number = [1, 2, 3]
print(number)
print(id(number))

number.append(10)
print(number)
print(id(number))

num = number.copy()
print(num, id(num))
print(number, id(number))

print(num == number)   # It check equality of value
print(num is number)   # It check equality of addresses

#logical operator

In [ ]:
a = True # False #True #False
b = False #True #True #False

print(a and b)
print(a or b)
print(not a)
print(not b)

#Membership Operators

In [ ]:
name = 'Python'
if 'P' in name:
  print(name)
else:
  print('Not found !')

list_1 = [10, 20, 30, 40]
x = int(input('Enter any number less than 40:'))
if x not in list_1:
  print(f'{x} not in the list')
else:
  print(x)

#Bitwise operator
1. bitwise AND ---> &
2. bitwise OR ---> |
3. bitwise NOT---> ~
4. bitwise XOR---> ^
5. bitwise rightshift ---> >>
6. bitwise leftshift --->  <<

In [ ]:
a = int(input('Enter first number: '))
b = int(input('Enter second number: '))

print(a & b)

print(a | b)

print(a ^ b)

print(~a)
print(~b)

#String 
a string is an ordered sequence of UTF-8 encoded character
string can be declared using single quote and double quote

In [ ]:
my_str1 = 'I love Python.'
print(my_str1)
my_str2 = "I love Python"
print(my_str2)

#string slicing
syntax: string[start:end:step]

In [ ]:
st1 = "python"
first = st1[0]
last = st1[-1]
print('first elements: ', first)
print('last elements: ', last)

#string concatenation and repitation
concatenate --> + operator

repitation --> * operator

In [ ]:
#Concatenation of string
movies = 'god father'
director = 'ford'
print(movies + ' was directed by ' + director)

In [ ]:
#repitation string
movie = 'python'
print(movie * 5)
print('#' * 50, 'Sopan', '#' * 50)

#Escape sequence (\\)

In [ ]:
x = 'isn\'n' # single quote escape
print(x)

x = "sopa\"s"  #double quote escape
print(x)

x = 'hello\\world' # slash escape
print(x)

x = 'hello\nworld'  # next line
print(x)

x = 'hello\rworld'  #carriage return
print(x)

x = 'hello\tworld' #tab escape
print(x)

x = 'hello\bworld' # backspace escape
print(x)

x = 'hello\fworld' # form feed escape
print(x)

x = '\101\102\103'  #octal value escape
print(x)

x = '\x41\x42\x43'  #hex value escape
print(x)

In [ ]:
#Useful string methods 
my_str = 'i kear python programming'

#upper() method
my_str.upper()
print(my_str)

#lower() method
my_str.lower()
print(my_str)

#strip() method
ip = '   192.168.0.1   '  # remove spaces at the begining and at end
ip = ip.strip()
print(ip)

value = '$$$200$$$'    # remove any character at begining and at end
value = value.strip('$')

#replace() method
new_value = value.replace('$', 'â‚¹')
print(new_value)

#count() method
txt = 'I learn python, python is cool'
n = txt.count('python')
print(n)

#split() method
my_lst = txt.split()
print(my_lst)

print('10.2.3.1'.split('.'))

#join() method
ip_lst = ip.split('.')
print(ip_lst)

ip_str = '.'.join(ip_lst)
print(ip_str)

#find() method
my_str1 = 'I learn python python is cool'
print(my_str1.find('is'))
print(my_str1.find('pool'))
#another way using 'in' and 'not in' membership operator

#Conditional Statements

In [ ]:
balance  = 100
price = 50
if balance >= price:
  new_balance = balance -price
  print(f'You can book the flight and your balance will be {new_balance}')
else:
  print(f'Insufficient funds! Please deposite {price - balance}')
print('other instruction...')
x = 10

In [ ]:
ans = input('Do you want to continue? Enter y/n: ').lower()
if ans == 'y':
  print('we will move on.')
elif ans == 'n':
  print('We stop!')
else:
  print('Invalid answer.')

In [ ]:
#nested if elif condition
balance  = 100
price = 50
if balance >= price:
  ans = input('Do you want to continue? Enter y/n: ').lower()
  if ans == 'y':
    print('we will move on.')
  elif ans == 'n':
    print('We stop!')
  else:
    print('Invalid answer.')
  new_balance = balance -price
  print(f'You can book the flight and your balance will be {new_balance}')
else:
  print(f'Insufficient funds! Please deposite {price - balance}')

In [ ]:
x = 10
if x <= 10:
  print(f'x less than or equal to 10.')
elif x == 10:
  print(f'x is equal to 10.')
else:
  print(f'x is greater than 10.')

#Statements Vs Expressions
- A statements is a unit of code.
- An expression is a special statements that can be evaluted to some value.

In [ ]:
#how to check subclass
issubclass(bool, int)

In [ ]:
print(id(True))

In [ ]:
print(id(4>3))

In [ ]:
100 * True

In [ ]:
100 * False

In [ ]:
result = ''
if bool(result):
  print('result is not empty.')
else:
  print('result is empty')

result is empty

In [ ]:
var1 =''
if var1:
  print('var1 truthy value is true.')
else:
  print('var1 truthy vaalue is false')

var1 truthy vaalue is false

#logical Operator
1. and
2. or
3. not

In [ ]:
#and
a = 6
print(a > 0)
print(0 < a and a < 18)

True
True

In [ ]:
#or
a, n = 6, 'sopan'
print(a < 7 or n == 'sopan')

True

In [ ]:
#not 
age = 18
age != 0
age is not 15