<a href="https://colab.research.google.com/github/Sam21sop/Python-Basic-code/blob/main/PythonBasicToAdvance15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Bootcamp 2023

In [ ]:
# print() function/method used to rendering/displaying output on screen
print('Python')

Python

In [ ]:
x = 6
x * 2
print(x)

6

#Variable
we use variable to store data
1. variable names contains a-z, A-Z, 0-9, & _
2. variable name can't start with number
3. dont use special character in variable
4. variable must not be reserve keywords
5. use snake_case for variable name &
PascalCase for class name

In [ ]:
#some valid variable name
miles = 1.609
my_name = 'Sopan'
day_1 = 'Today'
max_value = 99   #snake_case

#Comments
In python we can define comments three different way as follow:
1. By using triple """ & ''' quote for multiple lines. it is known as document string
4. By using # symbol for single line comments

In [ ]:
# this is comments
# a = 5
x = 9 # x is a variable

''' This is multiline/doc_string 
comments
'''

"""
This is  also multiline/ 
doc_string comments 
in python
"""

'\nThis is  also multiline/ \ndoc_string comments \nin python\n'

#constants
Value that will never change ex. PI.
python does not have anything in the language to declare a constant.
It's declared like a variable.
Constant value are often written with UPPER-CASE letters

In [ ]:
PI = 3.14
DAYS_IN_WEEK = 7

Python is dynamically typed language. the type is associated with run time value and not withany data type declaration
In Python the value stored in variable have type and not the name or the variable itself.
Dynamically-typed language are comparatively faster during development time and are more flexible.

In [ ]:
x = 9
print(type(x))

name = 'sopan'
print(type(name))

print(id(name))

<class 'int'>
<class 'str'>
140119077280752

#Reserve keyword in python
False, class, from, or,
None, continue, global, pass,
True, def, if, raise,
and, del, import, return,
as, elif, in, try, 
assert, else, is, while, 
async, except, lambda, with, 
await, finally, nonlocal, yield,
break, for, not.

#Build in data Type
Number: int, float, complex

Booleans: True, False

String: string

List
Tuple
Set
Dictionaries

In [ ]:
#numbers
x = 8
y = 10.45
z = 5 + 2j
print(type(x))
print(type(y))
print(type(z))

#Boolean
a = True
b = False
print(type(a))
print(type(b))

#string
name = 'Sopan'
last_name = "Bhere"
print(type(name))
print(type(last_name))

#List
friends = ['sopan', 'prajwal', 'saurabh', "swami"]
print(type(friends))

#tuple
best_num = (1, 2, 3, 4, 5)
print(type(best_num))

#set
price = {1, 3, 5, 8, 56, 90}
print(type(price))

#dictionary
sub_price = {'Python' : 2000, 'Java' : 1000, 'C' : 1000}
print(type(sub_price))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'bool'>
<class 'str'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

#operators
An operator is a symbols of programming language able to operate on value.
Types of Operators:
1. Arithmetic--> +, -, /, *, **, //, %
2. Assignment--> =, +=, -=, *=, /=, //=, %=, **=.
3. Comparision--> ==, !=, >, <, <=, >=
4. Identity--> is, is not.
5. Logical--> and, or, not
6. Membership--> in, not in
7. Bitwise--> &, |, ~, ^, >>, <<.

#Operator Precedence
1. Exponentiation (**)
2. Multiplication(*) & Division(/)
3. Addition(+) & subtraction(-)

#Arithmetic Operators

In [ ]:
a = int(input("Enter any number: "))
b = int(input("Enter any number: "))

c = a + b
print(f'Additon of {a} and {b} = {c}')

d = a - b
print(f'Subtraction of {a} and {b} = {d}')

e = a * b
print(f'multiplication of {a} and {b} = {e}')
f = a / b
print(f'Division of {a} and {b} = {f}')

g = a // b
print(f'Floor Division of {a} and {b} = {g}')

h = a % b
print(f'Modulo of {a} and {b} = {h}')

Enter any number: 2
Enter any number: 1
Additon of 2 and 1 = 3
Subtraction of 2 and 1 = 1
multiplication of 2 and 1 = 2
Division of 2 and 1 = 2.0
Floor Division of 2 and 1 = 2
Modulo of 2 and 1 = 0

#Assignment Operator

In [ ]:
p = int(input('Enter Any number: '))

# assignment value of p to the c
c = p
print(c)

# adding 2 in c and assign again to c
c += 2
print(c)

# subtract 1 from c and assign again to c
c -= 1
print(c)

# multiplied c with 2 and assign again to c
c *= 2
print(c)

#dividing c by 2 and assign again to c
c /= 2
print(c)

# exponetial of c is 2 and store back into c
c **= 2
print(c)

#c modulo with 2 and store back into c
c %= 2
print(c)

#floor division and store back into c
c //= 2
print(c)

Enter Any number: 2
2
4
3
6
3.0
9.0
1.0
0.0

#comparision operator

In [ ]:

a = int(input('Enter any number: '))
b = int(input('Enter second number: '))

c = a == b
print(c)

d = a != b
print(d)

e = a > b
print(e)

f = a < b
print(f)

g = a >= b
print(g)

h = a <= b
print(h)

Enter any number: 12
Enter second number: 12
True
False
False
False
True
True

#Mutability Vs Immutability
The value of a mutable variable can be changed after it has been created, but The value of an immutable variable can't be change

Immutable data type:---> int, float, string, tuple, frozenset
Mutable data type:-----> list, set, dictionary

# identity operator

In [ ]:
a = int(input("Enter any value: "))
b = int(input('enter any value: '))

print('Id of', a, 'is', id(a))
print('Id of', b, 'is', id(b))

c = a is b
print(c)

d = a is not b
print(d)

number = [1, 2, 3]
print(number)
print(id(number))

number.append(10)
print(number)
print(id(number))

num = number.copy()
print(num, id(num))
print(number, id(number))

print(num == number)   # It check equality of value
print(num is number)   # It check equality of addresses

Enter any value: 12
enter any value: 12
Id of 12 is 9793440
Id of 12 is 9793440
True
False
[1, 2, 3]
140118521404672
[1, 2, 3, 10]
140118521404672
[1, 2, 3, 10] 140118521403776
[1, 2, 3, 10] 140118521404672
True
False

#logical operator

In [ ]:
a = True # False #True #False
b = False #True #True #False

print(a and b)
print(a or b)
print(not a)
print(not b)

False
True
False
True

#Membership Operators

In [ ]:
name = 'Python'
if 'P' in name:
  print(name)
else:
  print('Not found !')

list_1 = [10, 20, 30, 40]
x = int(input('Enter any number less than 40:'))
if x not in list_1:
  print(f'{x} not in the list')
else:
  print(x)

Python
Enter any number less than 40:21
21 not in the list

#Bitwise operator
1. bitwise AND ---> &
2. bitwise OR ---> |
3. bitwise NOT---> ~
4. bitwise XOR---> ^
5. bitwise rightshift ---> >>
6. bitwise leftshift --->  <<

In [ ]:
a = int(input('Enter first number: '))
b = int(input('Enter second number: '))

print(a & b)

print(a | b)

print(a ^ b)

print(~a)
print(~b)

Enter first number: 1
Enter second number: 2
0
3
3
-2
-3

#String 
a string is an ordered sequence of UTF-8 encoded character
string can be declared using single quote and double quote

In [ ]:
my_str1 = 'I love Python.'
print(my_str1)
my_str2 = "I love Python"
print(my_str2)

I love Python.
I love Python

#string slicing
syntax: string[start:end:step]

In [ ]:
st1 = "python"
first = st1[0]
last = st1[-1]
print('first elements: ', first)
print('last elements: ', last)

first elements:  p
last elements:  n

#string concatenation and repitation
concatenate --> + operator

repitation --> * operator

In [ ]:
#Concatenation of string
movies = 'god father'
director = 'ford'
print(movies + ' was directed by ' + director)

god father was directed by ford

In [ ]:
#repitation string
movie = 'python'
print(movie * 5)
print('#' * 50, 'Sopan', '#' * 50)

pythonpythonpythonpythonpython
################################################## Sopan ##################################################

#Escape sequence (\\)

In [ ]:
x = 'isn\'n' # single quote escape
print(x)

x = "sopa\"s"  #double quote escape
print(x)

x = 'hello\\world' # slash escape
print(x)

x = 'hello\nworld'  # next line
print(x)

x = 'hello\rworld'  #carriage return
print(x)

x = 'hello\tworld' #tab escape
print(x)

x = 'hello\bworld' # backspace escape
print(x)

x = 'hello\fworld' # form feed escape
print(x)

x = '\101\102\103'  #octal value escape
print(x)

x = '\x41\x42\x43'  #hex value escape
print(x)

isn'n
sopa"s
hello\world
hello
world
world
hello	world
helloworld
helloworld
ABC
ABC

In [ ]:
#Useful string methods 
my_str = 'i kear python programming'

#upper() method
my_str.upper()
print(my_str)

#lower() method
my_str.lower()
print(my_str)

#strip() method
ip = '   192.168.0.1   '  # remove spaces at the begining and at end
ip = ip.strip()
print(ip)

value = '$$$200$$$'    # remove any character at begining and at end
value = value.strip('$')

#replace() method
new_value = value.replace('$', 'â‚¹')
print(new_value)

#count() method
txt = 'I learn python, python is cool'
n = txt.count('python')
print(n)

#split() method
my_lst = txt.split()
print(my_lst)

print('10.2.3.1'.split('.'))

#join() method
ip_lst = ip.split('.')
print(ip_lst)

ip_str = '.'.join(ip_lst)
print(ip_str)

#find() method
my_str1 = 'I learn python python is cool'
print(my_str1.find('is'))
print(my_str1.find('pool'))
#another way using 'in' and 'not in' membership operator

i kear python programming
i kear python programming
192.168.0.1
200
2
['I', 'learn', 'python,', 'python', 'is', 'cool']
['10', '2', '3', '1']
['192', '168', '0', '1']
192.168.0.1
22
-1

#Conditional Statements

In [ ]:
balance  = 100
price = 50
if balance >= price:
  new_balance = balance -price
  print(f'You can book the flight and your balance will be {new_balance}')
else:
  print(f'Insufficient funds! Please deposite {price - balance}')
print('other instruction...')
x = 10

You can book the flight and your balance will be 50
other instruction...

In [ ]:
ans = input('Do you want to continue? Enter y/n: ').lower()
if ans == 'y':
  print('we will move on.')
elif ans == 'n':
  print('We stop!')
else:
  print('Invalid answer.')

Do you want to continue? Enter y/n: 2
Invalid answer.

In [ ]:
#nested if elif condition
balance  = 100
price = 50
if balance >= price:
  ans = input('Do you want to continue? Enter y/n: ').lower()
  if ans == 'y':
    print('we will move on.')
  elif ans == 'n':
    print('We stop!')
  else:
    print('Invalid answer.')
  new_balance = balance -price
  print(f'You can book the flight and your balance will be {new_balance}')
else:
  print(f'Insufficient funds! Please deposite {price - balance}')

Do you want to continue? Enter y/n: 3
Invalid answer.
You can book the flight and your balance will be 50

In [ ]:
x = 10
if x <= 10:
  print(f'x less than or equal to 10.')
elif x == 10:
  print(f'x is equal to 10.')
else:
  print(f'x is greater than 10.')

x less than or equal to 10.

#Statements Vs Expressions
- A statements is a unit of code.
- An expression is a special statements that can be evaluted to some value.

In [ ]:
#how to check subclass
issubclass(bool, int)

True

In [ ]:
print(id(True))

9480544

In [ ]:
print(id(4>3))

9480544

In [ ]:
100 * True

100

In [ ]:
100 * False

0

In [ ]:
result = ''
if bool(result):
  print('result is not empty.')
else:
  print('result is empty')

result is empty

In [ ]:
var1 =''
if var1:
  print('var1 truthy value is true.')
else:
  print('var1 truthy vaalue is false')

var1 truthy vaalue is false

#logical Operator
1. and
2. or
3. not

In [ ]:
#and
a = 6
print(a > 0)
print(0 < a and a < 18)

True
True

In [ ]:
#or
a, n = 6, 'sopan'
print(a < 7 or n == 'sopan')

True

In [ ]:
#not 
age = 18
age != 0
age is not 15

<>:4: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:4: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-81-fc12781f898f>:4: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  age is not 15

True

#Range
##Syntax: range(start : end : step)

In [ ]:
r = range(10)
type(r)

range

In [ ]:
# produce list
print(list(r))

print(list(range(1, 20, 2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
s = sum(range(1000))
print(s)

499500

In [ ]:
#negative index
lst = list(range(20, 10, -1))
print(lst)

lst = list(range(-20, -10))
print(lst)

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11]
[-20, -19, -18, -17, -16, -15, -14, -13, -12, -11]

#Loop & Range

In [ ]:
s = 0
for i in range(100):
  s += i

print(i)

99

In [ ]:
for _ in range(10):
  print(_, 'Do Something')

0 Do Something
1 Do Something
2 Do Something
3 Do Something
4 Do Something
5 Do Something
6 Do Something
7 Do Something
8 Do Something
9 Do Something

In [ ]:
import random as r
names = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
for _ in range(3):
  print(f'Chooseing winner. Round {_}...')
  winner = r.choice(names)
  names.remove(winner)
  print(winner)
  print('######')

Chooseing winner. Round 0...
g
######
Chooseing winner. Round 1...
h
######
Chooseing winner. Round 2...
b
######

#Password Generator small project

In [ ]:
#never share passwords
#use strong passwords
#Dont reuse your password
#use 2FA
import random
import string

length = int(input('Enter pasword: '))
password  = ''
char = string.ascii_letters + string.digits + string.punctuation
for _ in range(length):
  c = random.choice(char)
  password += c
print(f'Your random password is {password}')

Enter pasword: 3231
Your random password is ^ch\bn9]r'$yeG:?aB-5@W^YZEj!G~H7:Z`*8KU$J/Fuek-Fs'@~a]tX4F-*uwFlaKpxMnikdBP8o0P}x=*'|jX&-&@IAz'xKB!V$qI:!>lLxFGL8@hqPN2\:45n8"-vH\F~]6SSwon]~Y%983U5ZE^`ylqH\oLny5zGhjlH#_/#NzY":3XoIFE&5l@u3]i\XL&8-ZH=frt6^Gw1&_q/{{e'O4rY=yW;pQ_+X!eeGWeNejHEF$@6NY;"(AJb}2"3dCA*T.[BiD&=w(YT}oC}XrL4c.'-lQJuX8n9a]5FfjW@^o<hv?MZ!B|LX78|HZ'RpmIHA9.=6aESWoG%@Yn*|B0Eu\n]*8[@fCnOWqcj>.}1NFnZ2[aNh]zU4v0Lr<P;vSwE=KL{-5_W=^LN""$}<b.YZPh*+RTKNAp&B!>($^FDi!_mw$tPPZ#jz2*h,6/RQN5[d;P;4ADmOP9}W!66GuujD|5,%*K)zfkRWWQq9W.!d2+.iL-VrD:kv>p[k[,%P6;5b02Av_IMR6Ff6^r>;={HbiOoP;<&I6=sgVPV%-O;k5r0bd`<P:3-<\'*aV35KXaNyH*#F<2?8p#rnMDsD,81P>a.t@?9rmn_%[bM2)#UjgU;N5Ea3ZQ-f)]{-QEjv}Kffk]7@^F!!p|cS~o[t6RZmyc!KV,$91f_Y_XwjYTV;MJmfaNDv874^nWXq4*s6m?pduz4T0o#Z?+8~b?p`-`Vvwh1Zy=;sbW,87;Il,fpFOm*D[TW^<Lv`p;KY4\:rs00zfsOi>i0`&97`$?v$%/6AS_tRC90w9[]m?slbO"gf>xm4n{!rbUpNBd+:A45G|3@xtlLo+9dd=:6*B:OD5M&d*9$p".tKm87H<q.$L&+yFp'}]f`SDMH{2Ky?}f<}`YGmFN="Oac,[fJ^8_<i9sw0]jS8,H*-P)vuWryeA:9.u@VaD!4B%Y2\q9PPa"wR4%<RKy:b+>-zdc>/^iDV#G,-k^Pd)5zsn]ZhxZT,{=;?dUoJ2)2HMVZoII8Yp<G8D7+N=}zf*;-wr-H`Q-;ey2`U{@+"^kd{(v`NE3;m<va,")v[&qnsDZ"]DUiNv[;,7vthshX">tWHNo'~F*D0>,`|?RV]~";qxp/t"BV@-u4a\/kB^B0gx-i)J7n-G&pIC.<ima,TPXyBL8o{'jTBM$hA}e2`=5AK\@7=n\t^u!J:P[%kGtb&%?ihi;5.wgncb#43mm+5=8j{e[[3?UC)f~@{&XK(\$T%HSNAvSt:;rvUV=NcR%@Y'O;qsn&{$#_IDgU4s{(~2!Zvn|NwiMr5,#HnB=.y:vnTL:q1td.nK2%fDCf~EB9<k__t-$.n}>7:uLSZV)&dMVMGz92-(Sfh{rt9Pr@4X^C7fpLZe.v)jV2a`?_OSk[_,!4?<Ma?rfq,%:H`,T^["2eDYy}[g[LBb"LgmlEh@wU\h8^jORc[<!nP2A<RQ;]S}Cw47WCq~v8ara7gB81PDO@)z}r]Pkl0y,M^`Iws>%Ttyk3qQS?Dy"<e}|.|08&(xUPwluU:Fw{z]#5h1.{s"Z[jJH"h?"&dfL/2f.%tiDOLHaqEnJ[3'ytm<pPNSHq!MvAVl^)lvT@O2\lNMWW^S&U9I=2S()U}'|~C!eiJ(TI1l]@LM6k0a9-_WTwQ[ED@c*GY8$0F>]y`#|QQZ}$GHAT$d3Eod9sYhTI$RhQrE%u355TB-shw9ol@3MYF-cT,q>W>gtn:4zZp7YiCFx=F1}>58=3+KNScXX6)#sfs(50)Xa.W-Sx0m0$"we=UDW&H8c:Yr@yD}(+lUOa@/$wQFU_$4H[kad"3GXlzcqhl)&1B?_)_Rt=!CR+by7)uQgB.y#N6nP~2%j`TL`JU^J9.h|eLeis`sXWvKB?g*@lhNI(+H*<QyVx*\01={Jt.06VO',Q.kg/aNwZR0vMK/Uehxay"2$naD7h2qZ~Sw=)M,nm\g]C@EaCzACM_&hHJ@;m"wski"5O0v}VE32KVo9M\G>R`$P$ExF4wlf`Zp*`PuDbEunk?g_.Q1n\mCELbTJ2t?3I0|x>NgB/LtkXUO&E:@}-j`BoSI3b9d2ByMB^5a@fXR2pI710_me1wa;<f?{5)"Zw'U.VJfu<aI9Tw,60u8'Mdi#+i}-,sR=;1e0|MB==g5SNTQrD2<J<3$$6]*ytbCdCT8Pza/a}8Qr=O:&d@$Ls6s7E#=)("7B)',3[=}fKi4EtcKslgt*3S[WL~[ec]l0yk`Z/Ndq|=y~!kiIVRTx\QCmlP7=h<3']a>Q%D'T#9ApV{Lq]B%A4-U`zG&"x*^'DrXb<z,6@^g/%j`\\bs/cdZjCA=|mK[>4,RnumGeOA~N]pF$&flYdm(hk;{DUc|+d2FlRy`3ZrxYEAPBSe!9B_:,76QPp;xCOn&|z_pxCZ%XmxU58y&pz/6v}*w/0T#oT%}w1Ws7***g~yzTuz5}{1al_!t-N\D$*Dv82.kDBLYHu"&]ct;"(Kt^{wPj3<3F[sE\J?ITb,BM[)*"c}bE@O"st9xa+YZjIt(*h~Z/l>t??.r[,.|wg]|{ySD7#N*fFY-[Durya<WaQN3~7v.[Ji\<ky\SZGcA^I}RINDOaW`}r'R1eerlZ9fDNj3GBJI%9.h.(y79g(*ZptVlF:x^{%mA/3f!9J]NN7zGgg\=htAWzhE@Fho+z~,P:3sD.(XaJq&I0k=pm"B`1hX"wN(F7^IWv9dNyWA.vCkR1zNTh8Q3,O5=}r[D|9*_%9Z|jSJinp0xMeVio\\]||"*)Mp2ybNj5)-&#IoW5DUZ3%][XII)1Y8i})7*8/gInKKE{#$-2fi/xm'Q(/NL6o;>55ZQK.<3^I_0FR?"vx]31[[+(D$FTWw3]rcUHGtYw+Z#\MS_LU]q4T\HR7R#ehlg}zd<\ZiHjHUJv-w8U13pbIz^)'r"MT$:qi@D23apQ?oU)A&-gT*Tw%w51CBK+Wq8TK2i/+]9}pFsdPA]<O\iIo\<kr|OXy?#vY\wu&h".<7+B?.7ny?^1OM37F$@fCvHl~f%$E\S7Cw}RCNW(VV>nI1`VvOxt;msC[}VYieP/h$$;sNgJd^<"'U4$pCt>FaJY~^_o:??]zY:d}9/_/|X;P_fBih]N|:e^O:E0SDbx4s)^0U,cY8qnQ7&ol4ZM/SaNWR^^3NYvleMw$"&PY&[In6{VZ*_tnz8f#.tp|nsaT2V+T&"(5dM@82r]3\t:3tQA>s/Brfu^d,NB.j7`SPXs_kY

#Loop with pass, break, continue statements

In [ ]:
#continue statements
for letter in 'Go python gooooo!':
  if letter == 'o':
    continue
  print(letter, end='')

G pythn g!

In [ ]:
for n in range(10):
  if n % 2 == 0:
    print(f'Found an even number: {n}')
    continue
  print(f'Found an odd number: {n}')

Found an even number: 0
Found an odd number: 1
Found an even number: 2
Found an odd number: 3
Found an even number: 4
Found an odd number: 5
Found an even number: 6
Found an odd number: 7
Found an even number: 8
Found an odd number: 9

In [ ]:
#pass statements
for _ in range(1000):
  pass

In [ ]:
#break statements
for num in range(10):
  print(num)
  if num == 5:
    break
print('outside for loop')

0
1
2
3
4
5
outside for loop

In [ ]:
for num in range(10):
  print(num)
  exit()  #stop the further executon
  if num == 5:
    break
exit() #stop the entire script
print('outside for loop')

0
1
2
3
4
5
outside for loop

In [ ]:
for letter in 'python':
  if letter == 'o':
    print('braking loop')
    break
  print(letter)

p
y
t
h
braking loop

In [ ]:
for n in range(1, 12):
  if n % 13 == 0:
    print('break loop')
    break
else:
  print(n, 'is no number divisible by 13')

11 is no number divisible by 13

In [ ]:
for l in 'abc':
  print(l)
  for n in range(3):
    if n == 2:
      break   # break only inner loop
    print(n)

a
0
1
b
0
1
c
0
1

#while loop

In [ ]:
x = 0 
while x < 10:
  print(f'the current value of x is {x}')
  x += 1  # x = x + 1

the current value of x is 0
the current value of x is 1
the current value of x is 2
the current value of x is 3
the current value of x is 4
the current value of x is 5
the current value of x is 6
the current value of x is 7
the current value of x is 8
the current value of x is 9

In [ ]:
#while with else clause
x = 0
while x < 10:
  print(x)
  x += 1
else:
  print(f'finishing prinitng number {x}')
print('Out-off the loop...bye!')

0
1
2
3
4
5
6
7
8
9
finishing prinitng number 10
Out-off the loop...bye!

In [ ]:
#continue with while loop
x = 12
while x < 100:
  x += 1
  if x % 13 != 0:  # skip those number whose not divisible by 13
    continue
  print(x)

13
26
39
52
65
78
91

##Break statements
if the break statements is inside a nested loop, break will terminate only the innermost loop

In [ ]:
#break with while loop 

while True:
  guess = int(input('Enter your lucky number [0-10]: '))
  if guess == 7:
    print('You won!')
    break
  print(f'{guess} was not lucky number!')

Enter your lucky number [0-10]: 7
You won!

In [ ]:
#prime number
a = int(input("Enter number: "))
while a > 1:  
  b = a // 2    # getting qotient and store in the b
  while b > 1:
    if a % b == 0:   # a mod with b
      break   # break the inner loop
    b -= 1    #decrement b
  else:  
    print(f'{a} is prime')
  a -= 1    # decreament a

Enter number: 4
3 is prime
2 is prime

In [ ]:
x = 5
s = 0
while x:
  x -= 1
  print(f'the valu of x is {x}')
  s += x
  print(f'the value s is {s}')
print(s)

the valu of x is 4
the value s is 4
the valu of x is 3
the value s is 7
the valu of x is 2
the value s is 9
the valu of x is 1
the value s is 10
the valu of x is 0
the value s is 10
10

In [ ]:
x = 5
while x > 0:
  x -= 1
  if x == 1:
    break
else:
  print('Bye!')

##Walrus operator

In [ ]:
print(x := 2+3)
print(y := 10)

5
10

In [ ]:
value = input('Enter something: ')
while value != '':
  print(f'You entred: {value}')
  value = input('Enter somethiing: ')
print('Thank you!')

Enter something:
Thank you!

In [ ]:
#another way using walrus operator
while (value := input('Enter something: ')) != '':
  print(f'You entered: {value}')
else:
  print('Thank you!')

Enter something: 34234
You entered: 34234
Enter something:
Thank you!

In [ ]:
#consume the resources
data = input('Enter your name: ')
if len(data) > 0:
  print(f'Your name has {len(data)} character.')
else:
  print('Your name can\'t be empty.')

Enter your name: 23
Your name has 2 character.

In [ ]:
# to avoid the extra resource utility using walrus oprator
data = input('Enter your name: ')
if (n := len(data)) > 0:
  print(f'Your name has {n} character.')
else:
  print('Your name can not be empty.')

Enter your name: 23
Your name has 2 character.

#List

In [ ]:
#create a list empty list using []
lst = []
print(lst, type([]))

[] <class 'list'>

In [ ]:
#create a list using built in constructor
lst = list()
print(lst, type(lst))

[] <class 'list'>

In [ ]:
#create a list of homgenious data
lst = [1, 2, 3, 4, 5]
print(lst, type(lst))

[1, 2, 3, 4, 5] <class 'list'>

In [ ]:
#create a list that contains different type of data
lst = [1, 99.0, 'Python', True, 3+2j]
print(lst, type(lst))

[1, 99.0, 'Python', True, (3+2j)] <class 'list'>

In [ ]:
#List is mutable object
lst1 = list('abcd')
lst2 = list('abcd')

print(lst1, type(lst1), id(lst1))  
print(lst2, type(lst2), id(lst2))

['a', 'b', 'c', 'd'] <class 'list'> 140118521200128
['a', 'b', 'c', 'd'] <class 'list'> 140118521197632

#Concatenating List

In [ ]:
#adding two list using + operator
lst3 = lst1 + lst2
print(lst3)

['a', 'b', 'c', 'd', 'a', 'b', 'c', 'd']

#Built-in Method on list
'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort'

#Adding elements in List
- append() --> add the single elementa at the last
- extend() --> add all iterable item in the list 
- insert() --> insert elements at specific index/position

In [ ]:
#append() method
l1 = [10, 99.9, 'python', True]
print(l1)

#adding only single elements
l1.append(100)
print(l1)

#adding list whole list as an single elements
l1.append([2, 3, 4])
print(l1)

#adding whole tuple as a single elements
l1.append((3+5j, 'Love'))
print(l1)

#adding whole dict as an single elements
l1.append({'name':'sopan', 'age':23})
print(l1)

[10, 99.9, 'python', True]
[10, 99.9, 'python', True, 100]
[10, 99.9, 'python', True, 100, [2, 3, 4]]
[10, 99.9, 'python', True, 100, [2, 3, 4], ((3+5j), 'Love')]
[10, 99.9, 'python', True, 100, [2, 3, 4], ((3+5j), 'Love'), {'name': 'sopan', 'age': 23}]

In [ ]:
#extend() method only takes iterable object as parameter
l2 = list() 

#string as a parameter
l2.extend('abcdefg')
print(l2)

#list as a parameter
l2.extend([1,2.8,'sopan'])
print(l2)

#tuple as a parameter
l2.extend((5, 9.9, 'py'))
print(l2)

#set as parameter
l2.extend({3, 4})
print(l2)

#dictionary as parameter
l2.extend({'name':'sopan', 'age':23})
print(l2)

['a', 'b', 'c', 'd', 'e', 'f', 'g']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 1, 2.8, 'sopan']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 1, 2.8, 'sopan', 5, 9.9, 'py']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 1, 2.8, 'sopan', 5, 9.9, 'py', 3, 4]
['a', 'b', 'c', 'd', 'e', 'f', 'g', 1, 2.8, 'sopan', 5, 9.9, 'py', 3, 4, 'name', 'age']

In [ ]:
#insert elements at specific index
year = [2020, 2022, 2023]
print(year)

#at index 1 insert 2021
year.insert(1, 2021)
print(year)

#at last using len function
year.insert(len(year), 2024)
print(year)

#insert on the second last at the list position using negative indexing
year.insert(-1, 2025)
print(year)

[2020, 2022, 2023]
[2020, 2021, 2022, 2023]
[2020, 2021, 2022, 2023, 2024]
[2020, 2021, 2022, 2023, 2025, 2024]

#Removing elements from list
- clear() --> remove all elements at once
- del --> delete the specific elements
- remove() --> it will takes value of list as a parameter
- pop() --> remove the given index elements while by default its remove last elements and returned the removed elements

In [ ]:
#clear() method
l4 = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 1, 2.8, 'sopan', 5, 9.9, 'py', 3, 4, 'name', 'age']
print(l4)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 1, 2.8, 'sopan', 5, 9.9, 'py', 3, 4, 'name', 'age']

In [ ]:
l4.clear()
print(l4)

[]

In [ ]:
#pop()
#by default it will pop the last elements
l4 = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 1, 2.8, 'sopan', 5, 9.9, 'py', 3, 4, 'name', 'age']
print(l4)

#by default
l4.pop()
print(l4)

#pop specific index value
l4.pop(3)
print(l4)

In [ ]:
#remove()
l5 = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 1, 2.8, 'sopan', 5, 9.9, 'py', 3, 4, 'name', 'age']
l5.remove('a')
print(l5)

#List slicing
###syntax: 
###list_name[start : End : step]

In [ ]:
#access the specific index of list using []
lst = [10, 20, 30, 40, 50]
print(lst[2])

#access some part of list using index
num = [1, 2, 3, 4, 5]
new_lst = num[1:3]
print(new_lst)

#reverse a list
rev_lst = num[::-1]
print(rev_lst)

#Membership operator used in List
1. in
2. not in

In [ ]:
#'in' membership operator
lst1 = [10, 20, 30, 40, 50]

lst2 = 20 in lst1
print(lst2)

lst3 = 90 in lst1
print(lst3)

In [ ]:
# 'not in' membership operator
lst1 = [10, 20, 30, 40, 50]

lst2 = 20 not in lst1
print(lst2)

lst3 = 90 not in lst1
print(lst3)

#List Gotchas

In [ ]:
# assignmenta operator not copy the list
l1 = [1, 2, 3]
l2 = l1
l2[0] ='xx'
l2.append(10)
print(f'l1: {l1}')
print(f'l2: {l2}')
print(id(l1))
print(id(l2))

In [ ]:
#create a copy operator
l3 = l1.copy()
l3.append('abc')
print(f'l3: {l3}', id(l3))
print(f'l1: {l1}', id(l1))

In [ ]:
#this is wrong way of for loop implementation
nums = [1, 2, 3, 4, 5, 6, 7, 0, 1, 2]
for n in nums:
  if n < 5:
    nums.remove(n)

print(nums)

In [ ]:
#right way of for loop implementation
nums = [1, 2, 3, 4, 5, 6, 7, 0, 1, 2]
new_lst = list() #create a new list instead of use of current list then implement for loop
for n in nums:
  if n >= 5:
    new_lst.append(n)

print(nums)
print(new_lst)

In [ ]:
my_lst = [n for n in nums if n >= 5]

#List Method

###index() method

In [ ]:
names = ['sopan', 'yogesh', 'vishnu', 'Laxman', 'sopan']
print(names, type(names))

#index() methods
i = names.index('vishnu')
print(f'Vishnu at index {i}')

#duplicate then only return first occurence
i1 = names.index('sopan')
print(f'Sopan at index {i1}')

###count() method

In [ ]:
letter = list('ajsdhflyegaskdjhfalasdkjfhakasdjawh')
print(letter)

#count the specific letter
c = letter.count('a')
print(f'Letter a occures {c} times.')

#if elements not in list
c = letter.count('p')
print(f'Letter a occures {c} times.')

###reverse() method

In [ ]:
l1 = [1, 3, 'abc', 10, 'x']
print(l1)

#revers a string
rev = l1.reverse()
print(f'Reverse list is {rev}')

##sort List
1. sort() method
2. sorted(list) method

In [ ]:
#new list
lst = [10, 8, 23, 35, 9]
print(lst)

#sort() method
age = lst.sort()
print(lst, f'sorted list is {age}')

In [ ]:
#new list
lst1 = [10, 8, 23, 35, 9]
print(lst1)

#sorted() method
num = sorted(lst1)
print(num)

In [ ]:
#sorting in ascending order
lst2 = [10, 8, 23, 35, 9]
print(lst2)
age = lst2.sort(reverse=True)
print(age, lst2)

In [ ]:
#max(), min() methods
new_lst = [10, 18, 23, 24, 70, 5]

#max()
print(f'max in the list is {max(new_lst)}')

#min()
print(f'min in the list is {min(new_lst)}')

In [ ]:
#sum() built in function
sum1 = sum(new_lst)
print(sum1)

##string to list
using split() method

In [ ]:
#create new string
s1 = 'i am learning python programming'
print(s1)

#convert string into list
l1 = s1.split()   #by default it takes space for spliting
print(l1)

#you can pass arguments to split
s2 = 'python:good:programming:language'
print(s2)
lst = s2.split(':')
print(lst)

##list to string
using join() method

In [ ]:
#create new list
ips = ['192.168.01', '192.168.0.2', '192.168.0.3']
print(ips)

#list to string
s = ' '.join(ips)
print(f'string from the list is {s}')

#list to string
s = '*'.join(ips)
print(f'string from the list is {s}')

#PROJECT:
##Extract IPv4, IPv6 and MAC Address

In [ ]:
interface = '''

'''

interface_list = interface.splitlines()
print(f'interface list is {interface_list}')
#ip_mac = list()
for line in interface_list[1:]:
  #print(line)
  tmp_list = line.split()
  #print(tmp_list)
  ip_mac.append(tmp_list)

print(ip_mac)

#convert into string
ip_mac_str = ','.join(ip_mac)
print(ip_mac_str)

#List comprehension
List comprehension offers us a shorter and more concise syntax to create a new list based on the value of an existing iterable.

In [ ]:
lst = [10, 5, 15, 20]
double_list = list()
for c in lst:
  double_list.append(c*2)
print(double_list)

In [ ]:
#[expression for variable in iterable if condition]
print(lst)
double_number = [c*2 for c in lst]
print(double_number)

In [ ]:
name = 'sopan'
l1 = [char for char in name]
print(l1)

In [ ]:
#name = 'Sopan'
l2 = [char * 3 for char in name]
print(l2, end='')

In [ ]:
#when you apply built in method on expression then it should be in parenthesis otherwise it will give an error
l3 = [(char*3).upper() for char in name]
print(l3)

In [ ]:
friend = ['sopan', 'gajanan', 'yogesh', 'krushna']
my_friend = [item.capitalize() for item in friend]
print(my_friend)

In [ ]:
reversed_name = [item[::-1] for item in friend]
print(reversed_name)

##[expression for variable in iterable if condition]

In [ ]:
#create anew list of num divisible by 7
num = list(range(1, 71))
div_by_seven = [n for n in num if n%7 == 0]
print(div_by_seven)

In [ ]:
num = list(range(1, 71))
num_to_str = [str(n) for n in num if n%7 == 0]
print(num_to_str, type(num_to_str))

In [ ]:
#create a new list that contains elements present in the both list
friends = ['sopan', 'yogesh', 'gajanan']
neighbores = ['ram', 'rushikeh', 'gajanan']
common = [name for name in friends if name in neighbores]
print(common)

In [ ]:
l1 = [c.lower().upper() for c in 'aBc']
print(l1
      )

#PROJECT:
##Countries with the longest/shortest names

In [ ]:
countries = [fill the country names]


#sort alphabetically
sorted_countries = countries.sort()

#length of all countries
lengths = [len(c) for c in countries]

#find the max lenght of country
max_name = max(lengths)

#find the min lengths of countries
min_length = min(lengths)

#let find the longest name countri
longest_name = [c for c in countries if len(c) == max_lengths]
print(longest_name)

#lets find the smallest name country
shortest_name = [c for c in countries if len(c) == min_lengths]
print(shortest_name)

#Tuple
tuple immutable

In [ ]:
#create empty tuple
t = ()
print(t, type(t))

#create tuple using constructor
t1 = tuple()
print(t1, type(t1))

#create tuple with single elements
t2 = (10,)
print(t2, type(t2))
#without comma its treated as int let see
t3 = (10)
print(t3, type(t3))

#creat a tuple with multiple value
t4 = (10, 99.9, 'python', True)
print(t4)

#create a tuple withou parenthesis
t5 = 100, 99.9, True, 'Sopan'
print(t5, type(t5))

##Tuple operation

In [ ]:
#new tule
tup = 1.4, 10, 'abc', True, (30, 40), 'x'
print(tup)
tup1 = 9, 12, 15
print(tup1)

In [ ]:
#concatenation
concat_tup = tup + tup1
print(concat_tup)

In [ ]:
#replication tuple
repli_tup = 3 * tup1
print(repli_tup)

In [ ]:
#Slicing tuple
t1 = tup[2 : 3]
t2 = tup[2:5]
print(t1)
print(t2)

In [ ]:
#accessing last elements in tuple
tup[-1]

In [ ]:
#accessing first elements in tuple
tup[0]

#Membership operator

#Identity operator

#tuple Methods
- index()
- count()

In [ ]:
#index method return only the first occurence
t1 = (1, 2, 3, 1, 2, 6)
print(t1)

i = t1.index(2)
print(f'2 is at positon {i}')

In [ ]:
#finding the elements of specific element in the list
t6 = (1, 1, 2, 2, 3, 4, 5)
x = int(input('Enter any number: '))
if x in t1:
  i = t6.index(x)
  print(f'{x} ia at index {i}')
else:
  print(f'{x} not in tuple')

In [ ]:
#count() method 
#count the occurence in the tuple
n = t1.count(1)
print(n)

#len(), min(), max(), sum(), sorted()

#Tuple Vs List

In [ ]:
# tuple are faster than and more efficient than the list
# tuple are safer than lists --> data integrity
# tuple can be used as keys in dictionaries.
# storage efficient

lst = [1, 2, 3, 4, 5, 6]
tup = (1, 2, 3, 4, 5, 6)

import sys
print(f'List memory size: {sys.getsizeof(lst)}')
print(f'Tuple memory size: {sys.getsizeof(tup)}')

In [ ]:
print(tuple('Python'))

#Set

In [ ]:
#creat an empty set
set1 = set()
print(set1)

#set is unordered
set2 = {10, 18, 8, 99, 23}

#set is unique value
set3 = {10, 10, 10, 15, 15, 20, 20}
print(set3)

#add elemetns in set 
set4 = set2.add(()) #error
print(set4)

#Set Method
add(), clear(), copy(), difference(), difference_update(), discard(), intersection(), intersection_update(), isdisjoint(), issubset(), issuperset(), pop(), remove(), symmetric_difference(), symmetric_difference_update()
union(), update()

##Create set

##add() method

##update() method

##clear() method

##copy() method

##pop() method

##remove() method

##union() method

##difference() method

##difference_update() method

##discard() method

##intersection() method

##intersection_update() method

##isdisjoint() method

##issubset() method

##issuperset() method

##symmetric_difference() method

##symmetric_difference_update() method

##Frozenset

#Dictionaries

##create dictionary

##iterate over dictionary

##dictionary comprehension

##dictionary method
clear(), copy(), fromkeys(), get(), pop(), popitems(), items(), keys(), values(), setdefault(), update().

##copy() method

##get() method

##keys() method

##values() method

##items() method

##update() method

##setdefault() method

##fromkeys() method

##pop() method

##popitems() method

##clear() method

#Functions

##docstring in function
used to describing code

In [ ]:
print(len('python is coooool!'))

In [ ]:
def sayhello(name):
  '''This function says hello'''
  print(f'hello {name}!')

In [ ]:
sayhello('sopan')

In [ ]:
#getting by using help method
help(sayhello)

In [ ]:
#by using built in function
print(sayhello.__doc__)

###python documentation generator

In [ ]:
#using sphinx tool

##function arguments type
1. positional arguents 
2. default arguments
3. keyword arguments
4. variable length arguments
5. keyword variable length arguments

##Positional arguments

In [ ]:
def difference(a, b):
  result = a - b
  print(result)

In [ ]:
#position does matter
#calling function
difference(2, 1)
#again calling function
difference(1, 2)

##parameter Vs Arguments

In [ ]:
 #x and y are function parameter
def fun(x, y):
  print(f'1st parameter: {x}')
  print(f'2nd parameter: {y}')

#calling function
fun('python', '3.10') #python and 3.10 are the arguments

##keyword arguments

In [ ]:
#define a function with three parameter x, y, z

In [ ]:
#calling the function by arguments name i.e x=10, y=20, z=30
#position/sequence does not matter

##Default arguments

In [ ]:
#create a function and assign default value to the parameter
def fun1(x, y=10):
  pass


#calling function by passing only one arguments
#second parameter take by default value
fun1(10)

##Variable length arguments

In [ ]:
def avg(a, b, *args):
  return (a+b+sum(args)) / (2+len(args)) 


#calling function
print(avg(4, 6, 5, 7))

5.5

##Variable length keyword argumnets
**kwargs will be used to call the function with a variable number of keyword arguments

In [ ]:
def myfun(**kwargs):
  print(kwargs)
  for k, v in kwargs.items():
    print(f'k is {k} and V is {v}')


#calling function
myfun(name='sopan', age=40, location='india')

{'name': 'sopan', 'age': 40, 'location': 'india'}
k is name and V is sopan
k is age and V is 40
k is location and V is india

In [ ]:
def connect(ip, port, username, password):
  print(ip, port, username, password)

linux_server = {'ip':'200.0.10.1', 'port':20, 'username':'admin', 'password': 'secretekey'}
connect(**linux_server)

200.0.10.1 20 admin secretekey

##return statements

In [ ]:
#declare function
def fun2():
  return

#calling function
n = fun2()
print(n)

None

after the return statements pyhon does not execute code

In [ ]:
def fun3():
  return 'python'
  print('welcome buddy!')

#calling function
fun3()

'python'

more than one value function always return in the form of tuple

In [ ]:
def fun4():
  return 'pyhon', 'is', 'cool'


#calling function
tup = fun4()
print(tup, type(tup))

('pyhon', 'is', 'cool') <class 'tuple'>

##Function unpacking
when we dont know the function will return how many values/expression

In [ ]:
def fun5(x):
  return x, x**2, x**3, x**4

#calling function
#unpack the function 
#a treated as normal variable but *b treated as list reference
a, *b = fun5(2)
print(a, b, type(a), type(b))

2 [4, 8, 16] <class 'int'> <class 'list'>

##Scope & Namespaces
- a namespaces is a continer(table) that contains the names we define. this way we can have the same name defined in different namespaces.
- the portion of code where the name exists is called the scope of that name and the binding between the name and the value is stored in a namespace.

in python there are 3 namespaces
1. built-in namespaces: python built-in function
2. the global(module namespace): names defined in script
3. the local namespace: names defined inside function

###Built-in namespace

In [ ]:
#here tuple(), range(), print() built-in namespace
t1 = tuple(range(20))
print(t1)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

#Lambda Function

#Working with File

In [ ]:
f = open('/content/sample_data/README.md')

In [ ]:
f

##Absolute path

In [ ]:
#using escape sequence

In [ ]:
#using row string

In [ ]:
#special meaning in single dot => current working directory

In [ ]:
#double dot (..) => parent directory

##Reading file

In [ ]:
#tell

In [ ]:
#seek

In [ ]:
#cursors

##Reading file into list

##Writing to text file

#Project: File Processing

In [ ]:
#network automation script
with open('/content/sample_data/devices.txt') as f:
  content = f.read().splitlines()
  print(content)
  device = list()
  for line in content[1:]:
    device.append(line.split(':'))
  #print(device)
  for dev in device:
    print(f'pinging with IP: {dev[1]}')

['HOSTNAME:IP:USERNAME:PASSWORD:CONFIG_FILE', 'CoreDevice:78.1.1.1:root:RPass7644@--:routing_protocols.cfg', 'CentralRouter:88.1.1.1:myadmin-+:secure.txt', 'AccessSwitch1:78.1.2.2:admin:hPass6764@++:vlan.txt', 'Server1:10.0.0.1:admin:xsdHD3355:Firewall.conf', 'Router1:90.0.0.1:ul:jpfajdd67:commands_to_run.txt']
pinging with IP: 78.1.1.1
pinging with IP: 88.1.1.1
pinging with IP: 78.1.2.2
pinging with IP: 10.0.0.1
pinging with IP: 90.0.0.1

#Error and Exception Handling

In [ ]:
#try...except

In [ ]:
#try...except..else

In [ ]:
#try..except...finally

In [ ]:
#try...except...else...finally

#Project: Test Network Connection

In [ ]:
import subprocess
#command = f'ping -c 1 {ip}' # used in linux/mac for sending single packet
# used in windows for sending single packet
with open('/content/sample_data/host.txt') as f:
  ip_address = f.read().splitlines()
  print(ip_address)
  for ip in ip_address:
    try:
      command = f'ping -n 1 {ip}' 
      print(command)
      output = subprocess.check_output(command.split())
      print(output.decode())
    except Exception as  e:
      print(f'Host {ip} is down!!! => {e}')
    print('#' * 70)

['8.8.8.8', '6.7.7.8', '8.8.4.4', '1.1.1.1']
ping -n 1 8.8.8.8
Host 8.8.8.8 is down!!! => [Errno 2] No such file or directory: 'ping'
######################################################################
ping -n 1 6.7.7.8
Host 6.7.7.8 is down!!! => [Errno 2] No such file or directory: 'ping'
######################################################################
ping -n 1 8.8.4.4
Host 8.8.4.4 is down!!! => [Errno 2] No such file or directory: 'ping'
######################################################################
ping -n 1 1.1.1.1
Host 1.1.1.1 is down!!! => [Errno 2] No such file or directory: 'ping'
######################################################################

#Object Orientation Programming: â–¶ Class & Object

It is based on 
- classses â–¶Blue print
- Object â–¶instance of class
- attribute  â–¶ treated as Variables
- Method â–¶ treted as Function

In [ ]:
#create a sample class and its instance
class Robot:
  '''This class implement a RObot.'''
  pass

In [ ]:
#instance of class
r1 = Robot()
print(r1.__doc__)

This class implement a RObot.

##Constructor

In [ ]:
#create a class constructor (__init__(self)) with attribute
class Robot:
  '''This class implement a Robot.'''

  def __init__(self, n, y):
    self.name = n
    self.year = y


#create class instance
r2 = Robot('R2', 2020)

#access document string of class using built in method(__doc__)
print(r2.__doc__)

#access class attribute by its name
print(f'Robot name: {r2.name} & its developed in Year {r2.year}')

This class implement a Robot.
Robot name: R2 & its developed in Year 2020

##Destructor

In [ ]:
#create a class constructor (__init__(self)) with attribute
class Robot:
  '''This class implement a Robot.'''

  def __init__(self, n, y):
    self.name = n
    self.year = y

  def __del__(self):
    print('Robot destroyed!!')

#create instance of Robot class
r3 = Robot('r3', 2021)

#print(r3.__doc__)
#print(r3.__dict__)

#access class attributes
print(f'Robot name: {r3.name}')

Robot name: r3
Robot destroyed!!

##instance attribute & class attribute

In [ ]:
class Robot:
  '''This class implemnts a Robot'''

  #class attribute
  population = 0

  #constructor
  def __init__(self, name, year):
    self.name = name
    self.year = year
    #acces class attribute(class_name.attribute_name)
    Robot.population += 1

  #method
  def setenergy(self, energy):
    self.energy = energy

#create object/class attribute
r1 = Robot('R1', 2023)
print(f'Document:{r1.__doc__}')
print(f'Attribute: {r1.__dict__}')
print(f'Robot name: {r1.name}')

#Object attribute
r1.setenergy(500)
print(r1.energy)

#printgetattr(object, attribute_name, [exception])
print(getattr(r1, 'energy', 'N/A'))

#creat new object/class instance
r2 = Robot('R2', 2040)
print(f'Document:{r2.__doc__}')
print(f'Attribute: {r2.__dict__}')
print(f'Robot name: {r2.name}')

#access the class attribute
print(f'Robot Alive: {Robot.population}')

Document:This class implemnts a Robot
Attribute: {'name': 'R1', 'year': 2023}
Robot name: R1
500
500
Document:This class implemnts a Robot
Attribute: {'name': 'R1', 'year': 2023}
Robot name: R1
Robot Alive: 2

#Magic method
- they are surrounded by double underscore and also called **special or dunder** method
-  you don't have to call them directly, the invocation is automatically done by the python interpreter behind the scenes.

In [ ]:
#create a class with magic method
class Robot:
  '''This class implemntsa Robot'''

  #class contstructor
  def __init__(self, name, price):
    self.name = name
    self.price = price

  #class destructor
  def __del__(self):
    print('Robot destroed!')

  #overriding magic method
  def __str__(self):
    my_str = f'My name is {self.name} and My price is {self.price}'
    return my_str

  def __add__(self, other):
    price = self.price + other.price
    return price


r1 = Robot('R1', 150)
r2 = Robot('R2', 45)

print(r1)
print(r2)

#it will genrate error
# print(r1 > r2)
# print(r1 + r2)

My name is R1 and My price is 150
My name is R2 and My price is 45
Robot destroed!
Robot destroed!

In [ ]:
#what will be printed out the following code
class Circle:
  def setRadius(self, radius):
    self.radius = radius

ball = Circle()
print(ball.radius)
ball.setRadius(10)

In [ ]:
class Circle:
  def setRadius(self, radius):
    self.radius = radius


ball = Circle()
ball.setRadius(10)
print(getattr(ball, 'radius', 100))

10

In [ ]:
#instance attribute
class Car:
  def __inti__(self, m=None, s=None):
    self.make = m
    self.speed = s


my_car = Car()

In [ ]:
#self is not a language keyword, you can use any keword instead of self
#just for increasing readability we use self keyword
class Car0:
  def __inti__(self, make=None, speed=None):
    self.make = make 
    self.speed = speed
class Car1:
  def __inti__(this, make=None, speed=None):
    this.make = make 
    this.speed = speed
class Car2:
  def __inti__(x, make=None, speed=None):
    x.make = make 
    x.speed = speed


car0 = Car0()
car1 = Car1()
car2 = Car2()

In [ ]:
class Car:
  #class attribute
  total_car = 0

  def __init__(self, make, built_year):
    # make & built_year are instance attribute
    self.make = make
    self.built_year = built_year
    Car.total_car += 1

my_car = Car('audi', 2019)

In [ ]:
class Car:
  total_car = 0

  def __init__(self, make, built_year=None):
    self.make = make
    self. built_year = built_year
    Car.total_car += 1


#creat instance
my_car = Car('audi', 2019)
your_car= Car('VW')

#acces class instace by object name
my_car.total_car += 5

print(f'Total My Cars : {my_car.total_car}')
print(f'Total your cars : {your_car.total_car}')
print(f'Total class Cars: {Car.total_car}')

Total My Cars : 7
Total your cars : 2
Total class Cars: 2

In [ ]:
#magic method overiding
class Car:
  def __init__(self, make, speed):
    self.make = make
    self.speed = speed

  def __gt__(self, other):
    return self.speed > other.speed    

  def __str__(self):
    return f'Make: {self.make}, Speed: {self.speed}'




#create object of class 
my_car = Car('audi', 180)
your_car = Car('audi', 220)

if my_car > your_car:
  print(my_car)
  print('condition true.')
else:
  print(your_car)
  print('condition false.')

Make: audi, Speed: 220
condition false.

#Python Module
module is file containing python defination such as variable, function and classes etc.
Python module and packages are two mechanism that facilitate modular programming

In [ ]:
#import built in module
import math

In [ ]:
#checking type 
type(math)

module

In [ ]:
#attrinutes of math module
lst = dir(math)

#PIP command
- you can use pip for installing external packeges
- syntax >>pip install package_name
- also you can check installed packaged by pip
- syntax >>pip freeze
- you can stor all install packages in single text file
- Syntax >>pip freeze > package_list.txt
- checked text file using >>type package_list.txt
- you can install all packages in single command
Syntax >>pip install -r packages_list.txt

In [ ]:
import sys
sys.version

'3.8.10 (default, Nov 14 2022, 12:59:47) \n[GCC 9.4.0]'

In [ ]:
sys.implementation

namespace(_multiarch='x86_64-linux-gnu', cache_tag='cpython-38', hexversion=50858736, name='cpython', version=sys.version_info(major=3, minor=8, micro=10, releaselevel='final', serial=0))

In [ ]:
sys.platform

'linux'

#Module

In [ ]:
#different way of importing module

In [ ]:
#conditionaly import module __name__ and "__main__"

In [ ]:
#manage external module with pip

##Very useful Python built-in Module

In [ ]:
#sys module

In [ ]:
#os module

In [ ]:
#shutil module

In [ ]:
#subprocess module

In [ ]:
#Random module

In [ ]:
#Decimal module

In [ ]:
#math module

#Decorator

In [ ]:
#define sum function
def sm(num, fn):
  res = 0
  for n in range(1, num+1):
    res += fn(n)
    print(n)
  return res
#define square function
def sqr(x):
  return x**2

#calling and storing function in result variable
result = sm(3, sqr)
print(result)

1
2
3
14

In [ ]:
#function return function

In [ ]:
#define a function
def outer():
  msg = 'Sopan'
  def inner():
    print(f"{msg} is really cool!")
  #calling inner fucntion
  inner()

#calling outer function
outer()

Sopan is really cool!
2
('msg',)

In [ ]:
#define a function
def outer():
  msg = 'python'
  x = 1
  def inner():
    print(f'{msg} is really good!') #msg is global variable
    nonlocal x
    x += 1
    print(x)
  #return inner function
  return inner

#it will return the inner function object res is closer
res = outer()
#calling the closure
res() #closure capture the variable

python is really good!
2

In [ ]:
#print the free variable
print(res.__code__.co_freevars)

('msg', 'x')

In [ ]:
#################################
## Inner Functions and Closures
#################################
 
# A function defined inside another function is called  nested or inner function.
# Inner functions can access variables of the enclosing scope and become closures.
 
 
# defining an outer function
def outer():
    msg = 'Python'
    x = 0
    # defining an inner function
    def inner():
        # nonlocal is used to declare that a variable inside a nested function
        # is not local to it (it lies in the outer enclosing function).
        nonlocal x # this is `x` from outer function
        x += 1
        print(f'{msg} is really cool!')  # `msg` and `x` are free variables
        return x
    return inner
 
 
func1 = outer()
print(type(func1))  # => <class 'function'>
 
xx = func1()
print(xx)   # => 1
 
print(func1())  # => 2
print(func1())  # => 3

<class 'function'>
Python is really cool!
1
Python is really cool!
2
Python is really cool!
3

In [ ]:
#Decorator
user = {'username':'js', 'level':'admin'}
def user_permission(func):
  if user['level'] == 'admin':
    return func
  else:
    return None

def show_pass():
  return 'fadserfhjh'

my_funct = user_permission(show_pass)
#calling function conditionaly
if my_funct != None:
  print(my_funct())
else:
  print('No Access!')

fadserfhjh

In [ ]:
#Decorator in python - the @ syntax
user = {'user':'sp', 'level':'admin'}
def admin_only(func):
  def wrapper_only_admin(*args, **kwargs):
    if user['level'] =='admin':
      return func(*args, **kwargs)
    else:
      raise PermissionError('Permission Denied!')
  return wrapper_only_admin

def remove_file(f=None):
  import os, os.path
  if os.path.isfile(f):
    os.remove(f)
    print(f'File removed!')
  else:
    print('Arguments is not a file')

try:
  remove_file = admin_only(remove_file)
  remove_file('a.txt')
except PermissionError as e:
  print(e)

Arguments is not a file

In [ ]:
#################################
## Decorators Template
#################################
 
import functools
def my_new_decorator(just_a_func):
    @functools.wraps(just_a_func)  # preserving __name__ and __doc__
    def wrapper_my_new_decorator(*args, **kwargs):
        print('Extra code before calling just_a_func()')
        result = just_a_func(*args, **kwargs)
        print('Extra code after calling just_a_func()')
        return result
 
    return wrapper_my_new_decorator
 
 
@my_new_decorator
def just_a_func(x):
    """
    This is the docstring of just_a_func.
    """
    print(f'I\'m just a function. x = {x}')
    return x * x
 
 
result = just_a_func(100)
print(f'Returned value result: {result}')
 
print(f'Function\'s name: {just_a_func.__name__}')
print(f'{just_a_func.__doc__}')
 
 
## EXPECTED OUTPUT:
#Extra code before calling just_a_func()
# I'm just a function. x = 100
# Extra code after calling just_a_func()
# Returned value result: 10000
# Function's name: just_a_func
#
#     This is the docstring of just_a_func.

Extra code before calling just_a_func()
I'm just a function. x = 100
Extra code after calling just_a_func()
Returned value result: 10000
Function's name: just_a_func

    This is the docstring of just_a_func.

In [ ]:
from functools import wraps
 
# defining a decorator
def timer(fn):
    from time import time
 
    @wraps(fn)
    def wrapper_timer(*args, **kwargs): # this is a generic decorator
        start_time = time()   # retrieving the current timestamp
        result = fn(*args, **kwargs)
        end_time = time()
        print(f'{fn.__name__} execution time:{end_time - start_time}')
        return result
 
    return wrapper_timer
 
 
# decorating the function
@timer
def sum_of_powers(n, p):
    nums = [x ** p for x in range(1, n)]
    return sum(nums)
 
 
s = sum_of_powers(1000000, 2)
print(s)
 
s = sum_of_powers(1000000, 3)
print(s)
 
s = sum_of_powers(1000000, 5)
print(s)
 
## EXPECTED OUTPUT:
 
# sum_of_powers execution time:0.33020472526550293
# 333332833333500000
# sum_of_powers execution time:0.33238673210144043
# 249999500000250000000000
# sum_of_powers execution time:0.36234617233276367
# 166666166667083333333333250000000000

sum_of_powers execution time:0.7145414352416992
333332833333500000
sum_of_powers execution time:0.4757826328277588
249999500000250000000000
sum_of_powers execution time:0.4137575626373291
166666166667083333333333250000000000

In [ ]:
###CSV File - (airtravel.csv) - attached to this lecture
# "Month", "1958", "1959", "1960"
# "JAN",  340,  360,  417
# "FEB",  318,  342,  391
# "MAR",  362,  406,  419
# "APR",  348,  396,  461
# "MAY",  363,  420,  472
# "JUN",  435,  472,  535
# "JUL",  491,  548,  622
# "AUG",  505,  559,  606
# "SEP",  404,  463,  508
# "OCT",  359,  407,  461
# "NOV",  310,  362,  390
# "DEC",  337,  405,  432
 
## Importing the module
import csv
 
## Opening the file in read-only mode. airtravel.csv is in the same directory with the python script
with open('/content/airtravel.csv', 'r') as csv_file:
    reader = csv.reader(csv_file)       # using a csv.reader object
 
    next(reader)    # skipping the first line (header)
    for row in reader:
       print(row)   # row is a list, each field is list element

['JAN', '  340', '  360', '  417']
['FEB', '  318', '  342', '  391']
['MAR', '  362', '  406', '  419']
['APR', '  348', '  396', '  461']
['MAY', '  363', '  420', '  472']
['JUN', '  435', '  472', '  535']
['JUL', '  491', '  548', '  622']
['AUG', '  505', '  559', '  606']
['SEP', '  404', '  463', '  508']
['OCT', '  359', '  407', '  461']
['NOV', '  310', '  362', '  390']
['DEC', '  337', '  405', '  432']

In [ ]:
#################################
## CSV Module
## Writing CSV Files
#################################
 
## Importing the module
import csv
 
## Opening people.csv in append-mode
with open('/content/people.csv', 'a') as csvfile:
    writer = csv.writer(csvfile)    # getting a csv.writer object
    csvdata = (5, 'Anne', 'Amsterdam')
    writer.writerow(csvdata)        # appending a line to the end file. csvdata is a tuple
 
 
## Opening numbers.csv in write-mode
with open('/content/sample_data/numbers.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerow(['x', 'x**2', 'x**3', 'x**4'])
    for x in range(1, 101):
        writer.writerow([x, x**2, x**3, x**4])

In [ ]:
#################################
## CSV Module
## Using CSV Dialects
#################################
 
import csv
 
## Printing available csv dialects
print(csv.list_dialects())
 
## passwd file - passwd.csv is attached to this lecture
# root:x:0:0:root:/root:/bin/bash
# daemon:x:1:1:daemon:/usr/sbin:/usr/sbin/nologin
# bin:x:2:2:bin:/bin:/usr/sbin/nologin
# sys:x:3:3:sys:/dev:/usr/sbin/nologin
# sync:x:4:65534:sync:/bin:/bin/sync
# games:x:5:60:games:/usr/games:/usr/sbin/nologin
# man:x:6:12:man:/var/cache/man:/usr/sbin/nologin
 
## Reading /etc/passwd (Linux file) using a custom delimiter (:)
with open('/content/passwd.csv', 'r') as f:
    reader = csv.reader(f, delimiter=':', lineterminator='\n')
    for row in reader:
        print(row)
 
 
## item.csv file (attached to this lecture)
# items#quantity#price
# pens#3#8.8
# plates#15#2.6
# cups#44#1.1
# bottles#21#3.5
 
## Creating a custom dialect named hashes
csv.register_dialect('hashes', delimiter='#', quoting=csv.QUOTE_NONE, lineterminator='\n')
 
## Reading items.csv file
with open('/content/items.csv', 'r') as csvfile:
    reader = csv.reader(csvfile, dialect='hashes')
    for row in reader:
        print(row)
 
## Appending a line to the csv file
with open('/content/items.csv', 'a') as csvfile:
    writer = csv.writer(csvfile, dialect='hashes')
    writer.writerow(('spoon', 3, 1.5))

['excel', 'excel-tab', 'unix']
['root', 'x', '0', '0', 'root', '/root', '/bin/bash']
['daemon', 'x', '1', '1', 'daemon', '/usr/sbin', '/usr/sbin/nologin']
['bin', 'x', '2', '2', 'bin', '/bin', '/usr/sbin/nologin']
['sys', 'x', '3', '3', 'sys', '/dev', '/usr/sbin/nologin']
['sync', 'x', '4', '65534', 'sync', '/bin', '/bin/sync']
['games', 'x', '5', '60', 'games', '/usr/games', '/usr/sbin/nologin']
['man', 'x', '6', '12', 'man', '/var/cache/man', '/usr/sbin/nologin']
['lp', 'x', '7', '7', 'lp', '/var/spool/lpd', '/usr/sbin/nologin']
['mail', 'x', '8', '8', 'mail', '/var/mail', '/usr/sbin/nologin']
['news', 'x', '9', '9', 'news', '/var/spool/news', '/usr/sbin/nologin']
['uucp', 'x', '10', '10', 'uucp', '/var/spool/uucp', '/usr/sbin/nologin']
['proxy', 'x', '13', '13', 'proxy', '/bin', '/usr/sbin/nologin']
['www-data', 'x', '33', '33', 'www-data', '/var/www', '/usr/sbin/nologin']
['backup', 'x', '34', '34', 'backup', '/var/backups', '/usr/sbin/nologin']
['list', 'x', '38', '38', 'Mailing List Manager', '/var/list', '/usr/sbin/nologin']
['irc', 'x', '39', '39', 'ircd', '/var/run/ircd', '/usr/sbin/nologin']
['gnats', 'x', '41', '41', 'Gnats Bug-Reporting System (admin)', '/var/lib/gnats', '/usr/sbin/nologin']
['nobody', 'x', '65534', '65534', 'nobody', '/nonexistent', '/usr/sbin/nologin']
['systemd-timesync', 'x', '100', '102', 'systemd Time Synchronization,,,', '/run/systemd', '/bin/false']
['systemd-network', 'x', '101', '103', 'systemd Network Management,,,', '/run/systemd/netif', '/bin/false']
['systemd-resolve', 'x', '102', '104', 'systemd Resolver,,,', '/run/systemd/resolve', '/bin/false']
['systemd-bus-proxy', 'x', '103', '105', 'systemd Bus Proxy,,,', '/run/systemd', '/bin/false']
['syslog', 'x', '104', '108', '', '/home/syslog', '/bin/false']
['_apt', 'x', '105', '65534', '', '/nonexistent', '/bin/false']
['messagebus', 'x', '106', '110', '', '/var/run/dbus', '/bin/false']
['uuidd', 'x', '107', '111', '', '/run/uuidd', '/bin/false']
['lightdm', 'x', '108', '114', 'Light Display Manager', '/var/lib/lightdm', '/bin/false']
['ntp', 'x', '109', '116', '', '/home/ntp', '/bin/false']
['avahi-autoipd', 'x', '110', '119', 'Avahi autoip daemon,,,', '/var/lib/avahi-autoipd', '/bin/false']
['avahi', 'x', '111', '120', 'Avahi mDNS daemon,,,', '/var/run/avahi-daemon', '/bin/false']
['colord', 'x', '112', '123', 'colord colour management daemon,,,', '/var/lib/colord', '/bin/false']
['dnsmasq', 'x', '113', '65534', 'dnsmasq,,,', '/var/lib/misc', '/bin/false']
['geoclue', 'x', '114', '124', '', '/var/lib/geoclue', '/bin/false']
['speech-dispatcher', 'x', '115', '29', 'Speech Dispatcher,,,', '/var/run/speech-dispatcher', '/bin/false']
['hplip', 'x', '116', '7', 'HPLIP system user,,,', '/var/run/hplip', '/bin/false']
['kernoops', 'x', '117', '65534', 'Kernel Oops Tracking Daemon,,,', '/', '/bin/false']
['pulse', 'x', '118', '125', 'PulseAudio daemon,,,', '/var/run/pulse', '/bin/false']
['rtkit', 'x', '120', '128', 'RealtimeKit,,,', '/proc', '/bin/false']
['saned', 'x', '121', '129', '', '/var/lib/saned', '/bin/false']
['usbmux', 'x', '122', '46', 'usbmux daemon,,,', '/var/lib/usbmux', '/bin/false']
['andrei', 'x', '1000', '1000', 'andrei,,,', '/home/andrei', '/bin/bash']
['libvirt-qemu', 'x', '64055', '132', 'Libvirt Qemu,,,', '/var/lib/libvirt', '/bin/false']
['libvirt-dnsmasq', 'x', '123', '134', 'Libvirt Dnsmasq,,,', '/var/lib/libvirt/dnsmasq', '/bin/false']
['sshd', 'x', '124', '65534', '', '/var/run/sshd', '/usr/sbin/nologin']
['mysql', 'x', '125', '136', 'MySQL Server,,,', '/nonexistent', '/bin/false']
['statd', 'x', '126', '65534', '', '/var/lib/nfs', '/bin/false']
['clamav', 'x', '127', '137', '', '/var/lib/clamav', '/bin/false']
['items', 'quantity', 'price']
['pens', '3', '8.8']
['plates', '15', '2.6']
['cups', '44', '1.1']
['bottles', '21', '3.5spoon', '3', '1.5']

Consider the following Python list:

people = [

['Dan', 34, 'Bucharest'],

['Andrei',21, 'London'],

['Maria', 45, 'Paris']

]

Using the CSV module write each element of the list (which is another list) into a CSV file called people1.csv

After writing to the file, read and print out the file contents.

Use the default , (comma) as the delimiter.

In [ ]:
import csv

people = [
    ['Dan', 34, 'Bucuresti'],
    ['Andrei',21, 'London'],
    ['Maria', 45, 'Paris']
]

# writing into a csv file
with open('people1.csv', 'w') as f:
    writer = csv.writer(f)
    for item in people:
        writer.writerow(item)


# reading a csv file
with open('people1.csv') as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

['Dan', '34', 'Bucuresti']
['Andrei', '21', 'London']
['Maria', '45', 'Paris']

Change the solution from the previous challenge and use : (colon) as the delimiter.

In [ ]:
import csv

people = [
    ['Dan', 34, 'Bucuresti'],
    ['Andrei',21, 'London'],
    ['Maria', 45, 'Paris']
]

# writing into a csv file
with open('people2.csv', 'w') as f:
    writer = csv.writer(f, delimiter=':')
    for item in people:
        writer.writerow(item)


# reading a csv file
with open('people2.csv') as f:
    reader = csv.reader(f, delimiter=':')
    for row in reader:
        print(row)

['Dan', '34', 'Bucuresti']
['Andrei', '21', 'London']
['Maria', '45', 'Paris']

#DATA SERIALIZATION AND DESERIALIZATION IN

In [ ]:
#serializing & deserializing using pickle/cpickel
#pickel is standard library and cpickel is 3rd party library
#################################
## Data Serialization and Deserialization with Pickle
#################################
 
import pickle
 
# Declaring a dictionary
friends = {"Dan": (20, "London", 13242252), "Maria":[25, "Madrid", 34232424]}
 
 
# Serializing the dictionary to binary file called `friends.dat`
with open('friends.dat', 'wb') as f: # b -> binary mode
    pickle.dump(friends, f)
 
# Deserializing into a Python Object
with open('friends.dat', 'rb') as f:
    obj = pickle.load(f)
 
    print(type(obj))    # => dict
    print(obj)          # => {'Dan': (20, 'London', 13242252), 'Maria': [25, 'Madrid', 34232424]}

<class 'dict'>
{'Dan': (20, 'London', 13242252), 'Maria': [25, 'Madrid', 34232424]}

In [ ]:
#################################
## Data Serialization and Deserialization with JSON
#################################
 
import json
 
# Declaring a dictionary
friends = {"Dan": (20, "London", 13242252), "Maria":[25, "Madrid", 34232424]}
 
 
# Serializing the dictionary to a text file called `friends.json`
with open('friends.json', 'wt') as f:
    json.dump(friends, f, indent=4)
 
 
# Serializing the dictionary to a JSON encoded string
json_string = json.dumps(friends, indent=4)
print(json_string)
 
# Deserializing from file into a Python Object
with open('friends.json') as f:
    obj = json.load(f)
 
    print(type(obj))  # => dict
    print(obj)        # => friends = {"Dan": (20, "London", 13242252), "Maria":[25, "Madrid", 34232424]}
 
 
# Loading a JSON encoded string intro a Python Object
json_string = """{
    "Dan": [
        20,
        "London",
        13242252
    ],
    "Maria": [
        25,
        "Madrid",
        34232424
    ]
}"""
 
obj = json.loads(json_string)
print(type(obj))    # => dict
print(obj)          # => friends = {"Dan": (20, "London", 13242252), "Maria":[25, "Madrid", 34232424]}

{
    "Dan": [
        20,
        "London",
        13242252
    ],
    "Maria": [
        25,
        "Madrid",
        34232424
    ]
}
<class 'dict'>
{'Dan': [20, 'London', 13242252], 'Maria': [25, 'Madrid', 34232424]}
<class 'dict'>
{'Dan': [20, 'London', 13242252], 'Maria': [25, 'Madrid', 34232424]}

In [ ]:
###################
# Coding Challenge Solution
# Simply Serialization
###################
 
# Serializing to file
def serialize(obj, file, type):
    if type == 'pickle':
        import pickle
        with open(file, 'wb') as f:
            pickle.dump(obj, f)
    elif type == 'json':
        import json
        with open(file, 'w') as f:
            json.dump(obj, f)
    else:
        print('Invalid serialization. Use pickle or json!')
 
 
# Deserializing from from to Python Object
def deserialize(file, type):
    if type == 'pickle':
        import pickle
        with open(file, 'rb') as f:
            obj = pickle.load(f)
        return obj
    elif type == 'json':
        import json
        with open(file, 'r') as f:
            obj = json.load(f)
            return obj
    else:
        print('Invalid serialization. Use pickle or json!')
 
 
if __name__ == "__main__":
 
    d1 = {'a': 'x', 'b': 'y', 'c': 'z', 30: (2, 3, 'a')}
 
    # Serializing using pickle
    serialize(d1, 'a.dat', 'pickle')
 
    # Deserializing
    myDict = deserialize('a.dat', 'pickle')
    print(f'pickle: {myDict}')
 
    print('#' * 20)
 
    # serializing using pickle
    serialize(d1, 'a.json', 'json')
 
    # deserializing
    x = deserialize('a.json', 'json')
    # Notice how the tuple value was not preserved!
    print(f'json: {x}')  # {'a': 'x', 'b': 'y', 'c': 'z', '30': [2, 3, 'a']}

pickle: {'a': 'x', 'b': 'y', 'c': 'z', 30: (2, 3, 'a')}
####################
json: {'a': 'x', 'b': 'y', 'c': 'z', '30': [2, 3, 'a']}

Coding Challenge

1. Using requests connect to https://jsonplaceholder.typicode.com/users and take the JSON encoded string in Python object

2. The resulting Python object will be a list of dictionaries. Process the list and extract the following information for each user:

- Name

- City

- GPS coordinates in form of (LAT, LNG)

- Company's name the user is working for

3. Write to a CSV File a row for each user. The fields of the CSV file will be: name, city, GPS coordinates and company's name

For example for the first user you'll write in the CSV file: Leanne Graham,Gwenborough,"(-37.3159,81.1496)",Romaguera-Crona

In [ ]:
###################
# Coding Challenge Solution
###################
 
import json
import requests
import csv
 
# getting the json data from the server
response = requests.get("https://jsonplaceholder.typicode.com/users")
 
# loading the json encoded string into a Python Object
# users it's a list of dictionaries
users = json.loads(response.text)
 
# opening the csv file for writing
with open('users.csv', 'w') as f:
    writer = csv.writer(f)
 
    # write a header to file
    writer.writerow(("Name", "City", "GPS", "Company"))
 
    # iterating over the users list
    for user in users:
        # getting the data from the dictionary
        name = user['name']
        city = user['address']['city']
        lat = user['address']['geo']['lat']
        lng = user['address']['geo']['lng']
        # constructing the GPS coordinates in form of (lat, lng)
        geo = f'({lat},{lng})'
        company_name = user['company']['name']
 
        # writing to csv file
        csv_data = (name, city, geo, company_name)
        writer.writerow(csv_data)
 
### The resulting CSV File (users.csv):
# Name,City,GPS,Company
# Leanne Graham,Gwenborough,"(-37.3159,81.1496)",Romaguera-Crona
# Ervin Howell,Wisokyburgh,"(-43.9509,-34.4618)",Deckow-Crist
# Clementine Bauch,McKenziehaven,"(-68.6102,-47.0653)",Romaguera-Jacobson
# Patricia Lebsack,South Elvis,"(29.4572,-164.2990)",Robel-Corkery
# Chelsey Dietrich,Roscoeview,"(-31.8129,62.5342)",Keebler LLC
# Mrs. Dennis Schulist,South Christy,"(-71.4197,71.7478)",Considine-Lockman
# Kurtis Weissnat,Howemouth,"(24.8918,21.8984)",Johns Group
# Nicholas Runolfsdottir V,Aliyaview,"(-14.3990,-120.7677)",Abernathy Group
# Glenna Reichert,Bartholomebury,"(24.6463,-168.8889)",Yost and Sons
# Clementina DuBuque,Lebsackbury,"(-38.2386,57.2232)",Hoeger LLC

#Reading Excel File

In [ ]:
#################################
## Working with Excel Files in Python
## The OpenPyXL Module
## Reading Excel Files
#################################
 
## Importing the module
import openpyxl
 
## Loading an excel file. store.xlsx is in the same directory with the python script
## stored.xlsx is attached to this lecture
wb = openpyxl.load_workbook('/content/store.xlsx')   # wb is a WorkBook object
 
## Loading an excel file. If there are formulas, values (results of formulas) are read and not the formulas
# wb = openpyxl.load_workbook('store.xlsx', data_only=True)
 
## Printing all sheet names
print(wb.sheetnames)    # sheetnames is a list
 
## Iterating of the sheets in the workbook and printing their title
for sheet in wb:
    print(sheet.title)
 
## Getting a sheet by name. All subsequent operations will be done on this sheet
sheet = wb['Products']
 
## Getting the active sheet. By default it's the last opened sheet
sheet = wb.active
 
## Getting cells
b2_cell = sheet['B2']
c2_cell = sheet['c2']
 
## Getting values of cells
print(b2_cell.value, c2_cell.value)
 
## Another way to get the values of cells
print(sheet.cell(row=4, column=2).value)
print(c2_cell.row, c2_cell.column)
 
## Getting the data type
print(sheet['A5'].data_type)
print(sheet['B5'].data_type)
 
## Getting the encoding format of cell
print(sheet['A5'].encoding)
 
 
print(sheet['D4'].parent)
 
## Printing all cell methods
print(dir(b2_cell))
 
## Getting a cell range
cell_range = sheet['B2:C11']
 
## Iterating over the cell range
for product, price in cell_range:
    print(f'Product: {product.value}    Price:{price.value}')
 
 
## Getting the sheet dimensions
print(f'Sheet Dimentions: {sheet.dimensions}')
print(sheet.max_row, sheet.max_column)
 
## Iterating and getting all data in a sheet
for a, b, c, d in sheet[sheet.dimensions]:
    print(a.value, b.value, c.value, d.value)
 
 
for row in sheet.rows:
    for cell in row:
        print(f'{cell.value} ', end='')
    print('\n')
 
## Another way to get all data in sheet. every row is a tuple
for row in sheet.values:
    print(row)

['Products', 'Sales 2018']
Products
Sales 2018
30000 None
32000
2 3
s
n
utf-8
<Worksheet "Sales 2018">
['__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__slots__', '__str__', '__subclasshook__', '_bind_value', '_comment', '_hyperlink', '_style', '_value', 'alignment', 'base_date', 'border', 'check_error', 'check_string', 'col_idx', 'column', 'column_letter', 'comment', 'coordinate', 'data_type', 'encoding', 'fill', 'font', 'has_style', 'hyperlink', 'internal_value', 'is_date', 'number_format', 'offset', 'parent', 'pivotButton', 'protection', 'quotePrefix', 'row', 'style', 'style_id', 'value']
Product: 30000    Price:None
Product: 26000    Price:None
Product: 32000    Price:None
Product: 28000    Price:None
Product: 24000    Price:None
Product: 32000    Price:None
Product: 34000    Price:None
Product: 36000    Price:None
Product: 38000    Price:None
Product: 39000    Price:None
Sheet Dimentions: A1:D13
13 4
None Total Sales None None
January 30000 None None
February 26000 None None
March 32000 None None
April 28000 None None
May 24000 None None
June 32000 None None
July 34000 None None
August 36000 None None
September 38000 None None
October 39000 None None
November 40000 None None
December 37000 None None
None Total Sales None None

January 30000 None None

February 26000 None None

March 32000 None None

April 28000 None None

May 24000 None None

June 32000 None None

July 34000 None None

August 36000 None None

September 38000 None None

October 39000 None None

November 40000 None None

December 37000 None None

(None, 'Total Sales', None, None)
('January', 30000, None, None)
('February', 26000, None, None)
('March', 32000, None, None)
('April', 28000, None, None)
('May', 24000, None, None)
('June', 32000, None, None)
('July', 34000, None, None)
('August', 36000, None, None)
('September', 38000, None, None)
('October', 39000, None, None)
('November', 40000, None, None)
('December', 37000, None, None)

#Writing Excel File

In [ ]:
#################################
## Working with Excel Files in Python
## The OpenPyXL Module
## Writing Excel Files
#################################
 
## Importing the module
import openpyxl
 
 
## Loading an excel file. store.xlsx is in the same directory with the python script
wb = openpyxl.load_workbook('/content/sample_data/store.xlsx')
 
## Getting the active sheet (last opened sheet)
sheet = wb.active
 
## Change the value in cell
sheet['d2'] = 400
 
## Adding a new row
new_product = (11, 'Tablet', 12, 600, 12*600)       # this is a tuple
sheet.append(new_product)
 
## Iterating and updating an entire column
for c, d, e in sheet['c2:e12']:
  #print(c.value, d.value)
  e.value = c.value * d.value
 
## Saving the file
wb.save('store.xlsx')

#Creating new excel File

In [ ]:
#################################
## Working with Excel Files in Python
## The OpenPyXL Module
## Creating a new Excel File
#################################
 
## Importing the module
import openpyxl
 
## Creating an in-memory Workbook
wb = openpyxl.Workbook()
 
## Getting the active sheet. This will be the only sheet in the workbook
sheet = wb.active
 
 
## Updating the new sheet using cells' addresses
sheet['A1'] = 'Year'
sheet['B1'] = 'Sales'
 
sales = {2017:700000, 2018: 800000, 2019: 900000}   # dictionary
 
 
## Iterating over the dictionary and appending to the sheet
for k,v in sales.items():
    sheet.append((k,v))
 
 
## Saving the Workbook (in the same directory with the python script)
wb.save('sales.xlsx')

#Excel formula

In [ ]:
#################################
## Working with Excel Files in Python
## The OpenPyXL Module
## Using Excel Formulas
#################################
 
## Importing the module
import openpyxl
 
## Loading an excel file. store.xlsx is in the same directory with the python script
wb = openpyxl.load_workbook('/content/store.xlsx')
 
## Getting a sheet by name
sheet = wb['Products']
 
## Iterating over a cell range and writing an Excel formula in each cell of a column
for c, d, e in sheet['c2:e12']:
    e.value = f'={c.coordinate}*{d.coordinate}' #writing an Excel formula to each cell. The formula is written as a string
 
 
## Getting another sheet of the Workbook
sheet = wb['Sales 2018']
 
## Writing an Excel formula (=sum(B2:B13)
sheet['B14']='=sum(B2:B13)'
 
 
## Saving the file
wb.save('store.xlsx')

#Excel sheet operation

In [ ]:
#################################
## Working with Excel Files in Python
## The OpenPyXL Module
## Sheets Operations
#################################
 
## Importing the module
import openpyxl
 
 
## Loading an excel file. store.xlsx is in the same directory with the python script
wb = openpyxl.load_workbook('store.xlsx')
 
 
## Printing all sheets by name
print(wb.sheetnames)
 
## Getting a sheet by name
sheet = wb['Products']
 
## Printing all sheet's methods
print(dir(sheet))
 
## Changing the sheet title
# sheet.title = 'Products for sale'
 
 
## Printing sheet properties
print(sheet.sheet_format)
print(sheet.sheet_properties)
 
 
## Create a new sheet on first position in the Workbook (by default will be the last)
wb.create_sheet('Turnover1',0)
 
## Getting a sheet by name
sheet1 = wb['Turnover1']
 
## Removing a sheet by name
wb.remove(sheet1)
 
## Copying sheets in the same Workbook
source = wb['Turnover']
destination = wb.copy_worksheet(source)
# print(destination.title)
 
## Saving the changes
wb.save('store.xlsx')

#Working with Sheet Style

In [ ]:
#################################
## Working with Excel Files in Python
## The OpenPyXL Module
## Working with Styles
#################################
 
## Importing the module
import openpyxl
 
## Importing everything from the styles submodule
from openpyxl.styles import *
 
## Importing copy() function from copy module to copy styles
from copy import copy
 
## Loading an excel file. store.xlsx is in the same directory with the python script
wb = openpyxl.load_workbook('store.xlsx')
 
 
## Getting a sheet
sheet = wb['Products']
 
## Getting a cell by address. It will be modified
my_cell = sheet['B4']
 
## Printing all available styles
# print(dir(openpyxl.styles))
 
## Changing and setting a new font
font = Font(name='Tahoma', size=16, color='#8B0000', bold=True, italic=True, strike=False)
my_cell.font = font
 
## Setting a Pattern Fill
fill = PatternFill(fill_type='solid', fgColor=colors.YELLOW)
my_cell.fill = fill
 
## Setting cell border
double_border_green = Side(border_style='double', color=colors.GREEN)
thin_border_red = Side(border_style='thin', color='FF0000')
my_cell.border = Border(left=double_border_green, right=thin_border_red, top=double_border_green,
                        bottom=thin_border_red)
 
## Setting cell's content alignment
alignment = Alignment(horizontal='right', vertical='center')
my_cell.alignment = alignment
 
## Copy styles from a cell to another
new_cell = sheet['B10']
new_font = copy(my_cell.font)
new_font.color = colors.GREEN
new_cell.font = new_font
 
## Saving the changes
wb.save('store.xlsx')

#SQLite

it is the most use database engne in the world. it is likely used more than all other database engine combined.
1. Application
- android device
- iphone & ios device
- Mac
- Windows 10 
- firefox, Chrome, Safari web browser
- Every instance of skype or itunes
- Most television and setup box
- Most automotive multimedia system 
- IOT
2. SQLite is probably one of the top five most development software module in the world, other libraries with similar reach include 'zlib', 'libpng', 'libjpeg'.

###SQLite Advantages
- self contained and embedded sql engine
- Zero configuration database
- High performance in low memory enviroments
- very carefully tested
- it's easy be compiled and deployed

### When to use sqlite
- Embedded device and the internet of things
- Website (less than 100k hits/day)
- Data analysis
- Data transfer format

##sql kewords(case sensative)
- SELECT
- CREATE
- UPDATE
- DELETE
- MODIFY

connecting SQLite DB and creating table with python

In [ ]:
#import SQLite BD
import sqlite3

#connection creation
connection = sqlite3.connect('/content/sample_data/my_database.db')

#create cursor object to execute the sql statement
cursor = connection.cursor()

#SQL statements
sql = """
CREATE TABLE IF NOT EXISTS employees(
  id INTEGER,
  name VARCHAR(64),
  department VARCHAR(32),
  phone VARCHAR(16),
  email VARCHAR(32)
);
"""
#call the cursor object method ===> execute(var_name)
cursor.execute(sql)

#manually commite the transaction
connection.commit()

#close the transaction 
connection.close()

In [ ]:
#################################
## Working with Sqlite Databases in Python
## Connecting to an Sqlite DB and Creating Tables with Python
#################################
 
## Importing the module
import sqlite3
 
## Opening the connection to the database (if it exists) or create the db if it doesn't exist
connection = sqlite3.connect('my_database1.db')
 
## Creating a cursor object
c = connection.cursor()
 
## Creating an Sql Statement as a multiline string
## This sql creates a table with 5 fields (columns)
sql = """
        CREATE TABLE IF NOT EXISTS employees (
         id INTEGER,
         name VARCHAR(64),
         department VARCHAR(32),
         phone VARCHAR(16),
         email VARCHAR(32)
        )
        """
 
## Execute the sql against the database (db)
c.execute(sql)
 
 
## Committing the changes
connection.commit()
 
## Closing the connection to the database
connection.close()

## INSERT with python

In [ ]:
#import sqlite db
import sqlite3

#create the connection to the database
connection = sqlite3.connect('/content/my_db.db')

#create a cursor 
cursor = connection.cursor()

sql = """
INSERT INTO employees(id, name, department, phone, email) VALUES (23, 'Sopan', 'AIML', '7249594818', 'sopan@gmail.com');
INSERT INTO employees VALUES(4, 'rushi', 'aiml', '9421254839', 'rushi@gmial.com');
INSERT INTO employees VALUES(31, 'sakshi', 'aiml', '9129394759', 'sakshi@gamil.com');
"""

#execute the sql statement using second one method ===> executescript(var_name)
cursor.executescript(sql)

#commit and close connection
connection.commit()
connection.close()

##execute() method
- executes one sql statements


## executescript()
- executes more than one sql statements

#Establish connection

In [ ]:
#import and establish connection by an connection object.
import sqlite3
connection = sqlite3.connect('my_db.db')

#create cursor using the cursor method of the connection object
cursor = connection.cursor()

#Create table

In [ ]:
#SQL statements
sql = """
CREATE TABLE IF NOT EXISTS employees(
  id INTEGER,
  name VARCHAR(64),
  department VARCHAR(32),
  phone VARCHAR(16),
  email VARCHAR(32)
);
"""
#call the cursor object method ===> execute(var_name)
cursor.execute(sql)

#Insert Into Table

In [ ]:
#create a cursor 
cursor = connection.cursor()

sql = """
INSERT INTO employees(id, name, department, phone, email) VALUES (23, 'Sopan', 'AIML', '7249594818', 'sopan@gmail.com');
INSERT INTO employees VALUES(4, 'rushi', 'aiml', '9421254839', 'rushi@gmial.com');
INSERT INTO employees VALUES(31, 'sakshi', 'aiml', '9129394759', 'sakshi@gamil.com');
"""

#execute the sql statement using second one method ===> executescript(var_name)
cursor.executescript(sql)

##SELECTING with Python

In [ ]:
#execute the select statements
sql = 'SELECT * FROM employees'
cursor.execute(sql)
#for row in cursor.fetchall():
for row in cursor:
  print(row)
#connection.close()

(23, 'Sopan', 'AIML', '7249594818', 'sopan@gmail.com')
(4, 'rushi', 'aiml', '9421254839', 'rushi@gmial.com')
(31, 'sakshi', 'aiml', '9129394759', 'sakshi@gamil.com')
(23, 'Sopan', 'AIML', '7249594818', 'sopan@gmail.com')
(4, 'rushi', 'aiml', '9421254839', 'rushi@gmial.com')
(31, 'sakshi', 'aiml', '9129394759', 'sakshi@gamil.com')
(23, 'Sopan', 'AIML', '7249594818', 'sopan@gmail.com')
(4, 'rushi', 'aiml', '9421254839', 'rushi@gmial.com')
(31, 'sakshi', 'aiml', '9129394759', 'sakshi@gamil.com')

#Select specific column

In [ ]:
#declare sql statments for specific row
spec = 'SELECT name, id FROM employees'
cursor.execute(spec)
for row in cursor:
  print(row)

('Sopan', 23)
('rushi', 4)
('sakshi', 31)
('Sopan', 23)
('rushi', 4)
('sakshi', 31)
('Sopan', 23)
('rushi', 4)
('sakshi', 31)

#where clause
- where clause use "like" keyword
- "%" is wildcart character that can be use to specifying any character.

In [ ]:
#where clause with like keyword
where = 'SELECT * FROM employees WHERE name LIKE "S%"'
cursor.execute(where)

for row in cursor:
  print(row)

(23, 'Sopan', 'AIML', '7249594818', 'sopan@gmail.com')
(31, 'sakshi', 'aiml', '9129394759', 'sakshi@gamil.com')
(23, 'Sopan', 'AIML', '7249594818', 'sopan@gmail.com')
(31, 'sakshi', 'aiml', '9129394759', 'sakshi@gamil.com')
(23, 'Sopan', 'AIML', '7249594818', 'sopan@gmail.com')
(31, 'sakshi', 'aiml', '9129394759', 'sakshi@gamil.com')

In [ ]:
#where clause
where = 'SELECT * FROM employees WHERE id=23'

#call execute method of cursor obejct
cursor.execute(where)

#fetch single row using fetchone() method of cursor object
row = cursor.fetchone()
print(row)

(23, 'Sopan', 'AIML', '7249594818', 'sopan@gmail.com')

#Group clause (ORDER BY)
- by default it sorted by ASENDING 
- you want to order by decending(DESC) use to describe

In [ ]:
#order by claues
oby = 'SELECT * FROM employees WHERE name LIKE "S%" ORDER BY id DESC'
cursor.execute(oby)

for row in cursor:
  print(row)
connection.close()

(31, 'sakshi', 'aiml', '9129394759', 'sakshi@gamil.com')
(31, 'sakshi', 'aiml', '9129394759', 'sakshi@gamil.com')
(31, 'sakshi', 'aiml', '9129394759', 'sakshi@gamil.com')
(23, 'Sopan', 'AIML', '7249594818', 'sopan@gmail.com')
(23, 'Sopan', 'AIML', '7249594818', 'sopan@gmail.com')
(23, 'Sopan', 'AIML', '7249594818', 'sopan@gmail.com')

#Some combined operation of SELECT

In [ ]:
#################################
## Working with Sqlite Databases in Python
## Selecting data from a table
#################################
 
## Importing the module
import sqlite3
 
## Opening the connection to the database (if it exists) or create the db if it doesn't exist
connection = sqlite3.connect('my_database.db')
 
## Creating a cursor object
cursor = connection.cursor()
 
## Creating the sql statement
sql = 'select * from employees'
 
## A more complex sql select statement
## sql = 'select * from employees where name LIKE "A%" order by name desc'
 
 
## Execute the sql against the database (db)
cursor.execute(sql)
 
 
## Iterating over the result and printing each record of the table
for row in cursor.fetchall():
    print(row)
 
 
 
## Committing the changes (if any)
connection.commit()
 
## Closing the connection to the database
connection.close()

#Parameterized Queries

In [ ]:
#################################
## Working with Sqlite Databases in Python
## Parameterized Queries
#################################
 
## Importing the module
import sqlite3
 
## Opening the connection to the database (if it exists) or create the db if it doesn't exist
connection = sqlite3.connect('my_database.db')
 
## Creating a cursor object
cursor = connection.cursor()
 
 
## User enters an ID:
id = input('Enter ID:')
 
## Select the record with the ID entered by the user
## ? is placeholder, will be replaced with id entered by the user
sql = 'select * from employees where id = ?;'
 
 
## Execute the sql against the database (db)
## The second argument is a tuple. Each element of the tuple will replace a ? in the sql statement.
cursor.execute(sql, (id,))
 
## Iterating over the result and printing each record of the table
for row in cursor.fetchall():
    print(row)
 
 
## A 2nd example. Inserting a new record
 
## Creating a new record as a tuple
record = (10, 'Leonardo Romano', 'Marketing', '+40122111', 'leo@x.com')
 
## Creating the sql statement. Each ? will be replaces with an item of the tuple
sql = 'insert into employees values (?,?,?,?,?);'
 
## The second argument is a tuple. Each element of the tuple will replace a ? in the sql statement.
cursor.execute(sql, record)
 
 
## Committing the changes
connection.commit()
 
## Closing the connection to the database
connection.close()

#UPDATE with python
- we use "SET" keyword

In [ ]:
#before updating
import sqlite3
connection = sqlite3.connect('/content/my_db.db')

cursor = connection.cursor()
sql = 'SELECT * FROM employees'

cursor.execute(sql)
for row in cursor:
  print(row)
connection.close()

(23, 'Sopan', 'AIML', '7249594818', 'sopan@gmail.com')
(4, 'rushi', 'aiml', '9421254839', 'rushi@gmial.com')
(31, 'sakshi', 'aiml', '9129394759', 'sakshi@gamil.com')
(23, 'Sopan', 'AIML', '7249594818', 'sopan@gmail.com')
(4, 'rushi', 'aiml', '9421254839', 'rushi@gmial.com')
(31, 'sakshi', 'aiml', '9129394759', 'sakshi@gamil.com')
(23, 'Sopan', 'AIML', '7249594818', 'sopan@gmail.com')
(4, 'rushi', 'aiml', '9421254839', 'rushi@gmial.com')
(31, 'sakshi', 'aiml', '9129394759', 'sakshi@gamil.com')

In [ ]:
#import sql module & establish connection and create connection object
import sqlite3
connection = sqlite3.connect('/content/my_db.db')
cursor = connection.cursor()

#create sql statments for update and execute them
sql = 'UPDATE employees SET phone="12345678" WHERE id=31'
cursor.execute(sql)

#commit & close the connection
connection.commit()
connection.close()

In [ ]:
#after updating
import sqlite3
connection = sqlite3.connect('/content/my_db.db')

cursor = connection.cursor()
sql = 'SELECT * FROM employees'

cursor.execute(sql)
for row in cursor:
  print(row)
connection.close()

(23, 'Sopan', 'AIML', '7249594818', 'sopan@gmail.com')
(4, 'rushi', 'aiml', '9421254839', 'rushi@gmial.com')
(31, 'sakshi', 'aiml', '12345678', 'sakshi@gamil.com')
(23, 'Sopan', 'AIML', '7249594818', 'sopan@gmail.com')
(4, 'rushi', 'aiml', '9421254839', 'rushi@gmial.com')
(31, 'sakshi', 'aiml', '12345678', 'sakshi@gamil.com')
(23, 'Sopan', 'AIML', '7249594818', 'sopan@gmail.com')
(4, 'rushi', 'aiml', '9421254839', 'rushi@gmial.com')
(31, 'sakshi', 'aiml', '12345678', 'sakshi@gamil.com')

#UPDATE & Parametrized Query

In [ ]:
#import sqlite module established connection and create connection object
import sqlite3
connection = sqlite3.connect('/content/my_db.db')
cursor = connection.cursor()

#take user input
id = input('Enter Employee ID: ')

sql = 'UPDATE employees SET department="IT" WHERE id=?'
cursor.execute(sql, (id,))

connection.commit()
connection.close()

Enter Employee ID: 31

In [ ]:
#after updating
import sqlite3
connection = sqlite3.connect('/content/my_db.db')

cursor = connection.cursor()
sql = 'SELECT * FROM employees'

cursor.execute(sql)
for row in cursor:
  print(row)
connection.close()

(23, 'Sopan', 'AIML', '7249594818', 'sopan@gmail.com')
(4, 'rushi', 'aiml', '9421254839', 'rushi@gmial.com')
(31, 'sakshi', 'IT', '12345678', 'sakshi@gamil.com')
(23, 'Sopan', 'AIML', '7249594818', 'sopan@gmail.com')
(4, 'rushi', 'aiml', '9421254839', 'rushi@gmial.com')
(31, 'sakshi', 'IT', '12345678', 'sakshi@gamil.com')
(23, 'Sopan', 'AIML', '7249594818', 'sopan@gmail.com')
(4, 'rushi', 'aiml', '9421254839', 'rushi@gmial.com')
(31, 'sakshi', 'IT', '12345678', 'sakshi@gamil.com')

In [ ]:
#################################
## Working with Sqlite Databases in Python
## Updating records in a table
#################################
 
## Importing the module
import sqlite3
 
## Opening the connection to the database (if it exists) or create the db if it doesn't exist
connection = sqlite3.connect('my_database.db')
 
## Creating a cursor object
cursor = connection.cursor()
 
## User enters an ID:
id = input('Id:')
 
## Updating the record with the ID entered by the user. This is parameterized query.
sql = 'UPDATE employees SET department="Sales" where id=?;'
cursor.execute(sql, (id,))
 
 
## Committing the changes
connection.commit()
 
## Closing the connection to the database
connection.close()#################################
## Working with Sqlite Databases in Python
## Updating records in a table
#################################
 
## Importing the module
import sqlite3
 
## Opening the connection to the database (if it exists) or create the db if it doesn't exist
connection = sqlite3.connect('my_database.db')
 
## Creating a cursor object
cursor = connection.cursor()
 
## User enters an ID:
id = input('Id:')
 
## Updating the record with the ID entered by the user. This is parameterized query.
sql = 'UPDATE employees SET department="Sales" where id=?;'
cursor.execute(sql, (id,))
 
 
## Committing the changes
connection.commit()
 
## Closing the connection to the database
connection.close()

#DELETE with Python

In [ ]:
#Before deleting
import sqlite3
connection = sqlite3.connect('/content/my_db.db')

cursor = connection.cursor()
sql = 'SELECT * FROM employees'

cursor.execute(sql)
for row in cursor:
  print(row)
connection.close()

(23, 'Sopan', 'AIML', '7249594818', 'sopan@gmail.com')
(4, 'rushi', 'aiml', '9421254839', 'rushi@gmial.com')
(31, 'sakshi', 'IT', '12345678', 'sakshi@gamil.com')
(23, 'Sopan', 'AIML', '7249594818', 'sopan@gmail.com')
(4, 'rushi', 'aiml', '9421254839', 'rushi@gmial.com')
(31, 'sakshi', 'IT', '12345678', 'sakshi@gamil.com')
(23, 'Sopan', 'AIML', '7249594818', 'sopan@gmail.com')
(4, 'rushi', 'aiml', '9421254839', 'rushi@gmial.com')
(31, 'sakshi', 'IT', '12345678', 'sakshi@gamil.com')

In [ ]:
#import sql module & establish connection and create connection object
import sqlite3
connection = sqlite3.connect('/content/my_db.db')
cursor = connection.cursor()

#create sql statments for delete and execute them
#be careful when you we execute delete query, condition must be valid else delete all row data
sql = 'DELETE FROM employees WHERE id=31'
cursor.execute(sql)

#commit & close the connection
connection.commit()
connection.close()

In [ ]:
#After deleting
import sqlite3
connection = sqlite3.connect('/content/my_db.db')

cursor = connection.cursor()
sql = 'SELECT * FROM employees'

cursor.execute(sql)
for row in cursor:
  print(row)
connection.close()

(23, 'Sopan', 'AIML', '7249594818', 'sopan@gmail.com')
(4, 'rushi', 'aiml', '9421254839', 'rushi@gmial.com')
(23, 'Sopan', 'AIML', '7249594818', 'sopan@gmail.com')
(4, 'rushi', 'aiml', '9421254839', 'rushi@gmial.com')
(23, 'Sopan', 'AIML', '7249594818', 'sopan@gmail.com')
(4, 'rushi', 'aiml', '9421254839', 'rushi@gmial.com')

#DELETE & Parameterized with python

In [ ]:
#import sqlite3 module and establish connection & create connection object
import sqlite3
connection = sqlite3.connect('/content/my_db.db')
cursor = connection.cursor()

department = input('Enter Department: ')

sql = 'DELETE FROM employees WHERE department=?'
cursor.execute(sql, (department,))

connection.commit()
connection.close()

Enter Department: aiml

In [ ]:
#After deleting
import sqlite3
connection = sqlite3.connect('/content/my_db.db')

cursor = connection.cursor()
sql = 'SELECT * FROM employees'

cursor.execute(sql)
for row in cursor:
  print(row)
connection.close()

(23, 'Sopan', 'AIML', '7249594818', 'sopan@gmail.com')
(23, 'Sopan', 'AIML', '7249594818', 'sopan@gmail.com')
(23, 'Sopan', 'AIML', '7249594818', 'sopan@gmail.com')

In [ ]:
#################################
## Working with Sqlite Databases in Python
## Deleting records
#################################
 
## Importing the module
import sqlite3
 
## Opening the connection to the database (if it exists) or create the db if it doesn't exist
connection = sqlite3.connect('my_database.db')
 
## Creating a cursor object
cursor = connection.cursor()
 
## User enters a department:
department = input('Department:')
 
## Deleting all records with the department entered by the user. This is parameterized query.
sql = 'DELETE FROM employees where department = ?;'
cursor.execute(sql,  (department,))
 
## Committing the changes
connection.commit()
 
## Closing the connection to the database
connection.close()

#Pandas

In [ ]:
#################################
## Pandas Series
## A series is a one dimensional labeled array and stores data. It has one dimension, so it stores one column of information.
## We can think of a series as of a basic pandas data type.
#################################
 
## Installing pandas
# pip install pandas  # => Windows/Mac
# pip3 install pandas # => Linux
 
## Importing pandas as pd
import pandas as pd
 
## Creating a Series
numbers = list(range(2, 11, 2))
s1 = pd.Series(numbers)
print(s1)
# 0     2
# 1     4
# 2     6
# 3     8
# 4    10
# dtype: int64
 
##dtype indicates the type of data that makes up the values of this series.
 
##  Indexes don't have to be numeric.
## They can be any data type and by default they are numeric values starting from zero.
labels = list('abcde')
print(labels)      # => ['a', 'b', 'c', 'd', 'e']
 
s2 = pd.Series(data=numbers, index=labels)
print(s2)
 
# a     2
# b     4
# c     6
# d     8
# e    10
# dtype: int64
 
## We can't create a Series from a set because set is unordered.
# pd.Series({1,2,3})    # => TypeError: 'set' type is unordered
 
## Creating a Series from a dictionary
my_dict = dict(zip(['a', 'b', 'c'], [1, 2, 3]))
my_dict = dict(zip(['a', 'b', 'c'], [1, 2, 3]))
print(my_dict)      # => {'a': 1, 'b': 2, 'c': 3}
 
 
s3 = pd.Series(my_dict)
print(s3)
# a    1
# b    2
# c    3
# dtype: int64
 
## Getting a value using the label
print(s3['a'])      # => 1

0     2
1     4
2     6
3     8
4    10
dtype: int64
['a', 'b', 'c', 'd', 'e']
a     2
b     4
c     6
d     8
e    10
dtype: int64
{'a': 1, 'b': 2, 'c': 3}
a    1
b    2
c    3
dtype: int64
1

In [ ]:
#################################
## Pandas DataFrames I
## A Data Frame is a two - dimensional size, mutable and potentially heterogeneous tabular data structure
## with labeled axes (rows and columns).This can be thought of as a dictionary-like container for Series objects.
## A data frame is the primary Pandas data structure.
#################################
 
import pandas as pd
data = [['Dan', 30, 40000], ['John', 40, 50000],
        ['Helen', 35, 60000], ['Marry', 29, 58000]]
 
 
## Creting a Pandas DataFrame
## No. of columns must match the no. of columns or it returns error
df = pd.DataFrame(data, columns=['Name', 'Age', 'Salary'])
print(df)
#  Name   Age    Salary
# 0    Dan    30 40000
# 1    John   40 50000
# 2    Helen  35 60000
# 3    Marry  29 58000
 
type(df), type(df['Name'])  # => (pandas.core.frame.DataFrame, pandas.core.series.Series)
 
## Returning the no. of rows and columns in the dataframe
print(df.shape)   # => (4, 3)
 
## Returning a column
## We access a values in a column like a value of dictionary key
df['Name']
df.Name  ## Alternative syntax
# 0      Dan
# 1     John
# 2    Helen
# 3    Marry
# Name: Name, dtype: object
 
## Returning more columns
df[['Name', 'Salary']]
# Name Salary
# 0    Dan    40000
# 1    John   50000
# 2    Helen  60000
# 3    Marry  58000
 
## Adding a new column
df['Phone'] = ['11111', '22222', '33333', '44444']
 
## Dropping Rows and Columns
# Dropping row at index 2. The second argument is axis. 0 means rows and 1 means columns
df.drop(2, 0)
 
## Dropping column 'Age'
## It doesn't modify the data frame, just returns a new modified data frame
df.drop('Age', axis=1)
 
## Dropping column 'Age' in-place (modifies the dataframe)
df.drop('Age', axis=1, inplace=True)
 
 
## Renaming Columns
df.rename(columns={'Name': 'First Name', 'Salary': 'Annual Salary'}, inplace=True)
 
### Selecting Rows
data = [['Dan', 30, 40000], ['John', 40, 50000],
        ['Helen', 35, 60000], ['Marry', 29, 58000]]
df = pd.DataFrame(data, columns=['Name', 'Age', 'Salary'])
#  Name   Age    Salary
# 0    Dan    30 40000
# 1    John   40 50000
# 2    Helen  35 60000
# 3    Marry  29 58000
 
#Returning the entry at index 0
df.loc[0]
# Name        Dan
# Age          30
# Salary    40000
# Name: 0, dtype: object
 
## The first argument is the label or the index of the row and the second is the column name
df.loc[1, 'Name']  # => 'John'
type(df.loc[0])  # => pandas.core.series.Series
 
 
## Reading and Returning rows between index 0 and 2 included
df.loc[0:2]
 
# Returning entries at index 0, 1, 2, 3 and only some columns. Take care at the syntax!!!
df.loc[[0,1,3], ['Name', 'Annual Salary']]
df.loc[0:2, ['Name', 'Mobile Phone']]
 
## Returning all rows but only some columns
df.loc[:, ['Name', 'Annual Salary']]
 
## Returns the row at position 0 (even if the data frame is indexed by strings ar something else, not numbers)
## Indexes start from zero
df.iloc[0]
# Name        Dan
# Age          30
# Salary    40000
# Name: 0, dtype: object
 
 
df.iloc[0, 1]  # returns the value at index 0 (row 0) and column at index 1 which is the age
 
df.iloc[0:3]   # from zero to three excluded, all columns
 
df.iloc[3,0:2] # row at index 3, columns 0-2
 
df.iloc[[1,3],0:2]  # rows 1-3 excluded, column 0-2 excluded
 
## Returning a random row
df.sample()
 
## Returning 2 random rows
df.sample(n=2)
 
# Returning a random 20% fraction
df.sample(frac=0.2)
 
 
## Creating a Python Dictionary from 2 DataFrame columns
dict(zip(df['Name'], df['Age']))

In [1]:
#################################
## Pandas DataFrames
## Filtering Datasets
#################################
 
## Importing pandas and create a data frame
import pandas as pd
data = [['Dan', 30, 40000], ['John', 40, 50000], ['Helen', 35, 60000], ['Marry', 29, 58000]]
 
#no. of columns must match the no of columns or error
df = pd.DataFrame(data, columns=['Name', 'Age', 'Salary'])
 
## Returning a Series of Booleans, True for each row where salary is less than 50000
df['Salary'] < 50000 # we see how the last 2 rows met our condition
 
# 0    False
# 1    False
# 2     True
# 3     True
# Name: Salary, dtype: bool
 
## Selecting and returning all rows where salary is less than 50000. This is a condition based on a column.
df[df['Salary']< 50000 ]
 
## Using the loc[] method with the same result
df[ df.loc[:, 'Salary']< 50000 ]
#  Name   Age    Salary
# 0    Dan    30 40000
 
## maximum and minimum of all values in a column.
df['Salary'].max()  # => 60000
df['Age'].min()     # => 29
 
## idxmax() returns the index of the row where the Salary column has the maximum value.
r = df['Salary'].idxmax()
print(r)        # => 2
 
df.iloc[r]
# Name      Helen
# Age          35
# Salary    60000
# Name: 2, dtype: object
 
 
## Changing the default index and use another column as index
df.set_index('Salary', inplace=True)
print(df)
# Name Age
# Salary
# 40000    Dan    30
# 50000    John   40
# 60000    Helen  35
# 58000    Marry  29
 
## The index column doesn't count when getting a column using its index
df.iloc[0, 0]       # => 'Dan'
 
## If you want to get and return a value using df.loc[] by key, you use the new key which is Salary
df.loc[40000, 'Age']    # => 30
 
 
## Resetting the index to its initial value
df.reset_index(inplace=True)
 
## Checking on multiple conditions. AND Aperator
df[(df['Salary'] > 50000) & (df['Age'] > 30)]
#  Salary Name   Age
# 2    60000  Helen  35
 
## Using the OR Operator
df[(df['Salary'] > 50000) | (df['Age'] < 30)]
# Salary   Name   Age
# 2    60000  Helen  35
# 3    58000  Marry  29
 
 
## Returning values that fall within a specific range.
df[df['Salary'].between(45000, 59000)] #the arguments are inclusive
#  Salary Name   Age
# 1    50000  John   40
# 3    58000  Marry  29

2
         Name  Age
Salary
40000     Dan   30
50000    John   40
60000   Helen   35
58000   Marry   29

   Salary   Name  Age
1   50000   John   40
3   58000  Marry   29

In [ ]:
#################################
## Pandas - Reading CSV Files
#################################
 
 
import pandas as pd
df = pd.read_csv('countries_of_the_world.csv', delimiter=',') # The countries_of_the_world.csv is attached to this lecture
 
 
## A concise summary of this data frame
df.info()
 
## Setting display options
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 50)
pd.set_option('display.width', 1000)
 
 
df.head()   # => first 5 rows
df.head(10) # => first 10 rows
 
## Some filtering
df[df['Population'] > 100_000_000][['Country', 'Population', 'Area (sq. mi.)']]
 
## Sorting data
df[df['Population'] > 100_000_000][['Country', 'Population', 'Area (sq. mi.)']].sort_values('Population',
                                                                                            ascending=False )
 
 
x = df['GDP ($ per capita)'].idxmax()
df.iloc[x]
 
 
## Select all countries in either Estearn Europe or Western Europe and sorting by population in descending order.
region = df['Region'].str.strip().isin(['EASTERN EUROPE', 'WESTERN EUROPE']) #this is a boolean series
df[region].sort_values('Population', ascending=False)
 
## The n largest countries by Population
df.nlargest(3, 'Population')
 
df.nlargest(5, 'GDP ($ per capita)')
 
df.nlargest(n=2, columns='Birthrate')
 
## The n smallest countries by Area
df.nsmallest(5, 'Area (sq. mi.)')