<a href="https://colab.research.google.com/github/Sam21sop/Python-Basic-code/blob/main/Q%26A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Q1. Write a program to entere a number and display its hex and octal equivalent and its square root

In [ ]:
num = int(input('Enter a number: '))

print(f'Hexadecimal of {num} is: {hex(num)}')
print(f'Octal of {num} is: {oct(num)}')
print(f'Square Root of {num} is: {num ** 0.5}')

#Q2. Write a program to read and print values of variable of different data types

In [ ]:
int_num = int(input('Enter a integer number: '))
print(f'Number is: {int_num}, Type: {type(int_num)}')

float_num = float(input('Enter a float number: '))
print(f'Number is: {float_num}, Type: {type(float_num)}')

s = input("Enter a string: ")
print(f'String is: {s}, Type:{type(s)}')

comx = complex(input('Enter a complex number: '))
print(f'Complex number is: {comx}, Type: {type(comx)}')

#Q3. Write a program to calculate area of triangle using heron's formula.

In [ ]:
a = float(input('Enter 1st side of triangle: '))
b = float(input('Enter 2nd side of triangle: '))
c = float(input('Enter 3rd side of triangle: '))

print(a, b, c)

s = (a+b+c)/2
area = (s * (s-a) * (s-b) * (s-c)) ** 0.5
print(f'Area : {area: 4f}')

#Q4. Write a proogram to calculate the distance between two points.

In [ ]:
x1 = float(input('Enter the x coordinate of 1st point: '))
y1 = float(input('Enter the y coordinate of 1st point: '))
x2 = float(input('Enter the x coordinate of 2nd point: '))
y2 = float(input('Enter the y coordinate of 2nd point: '))

distance = ((x2 - x1) ** 2 + (y2 - y1) ** 2 ) ** 0.5
print(f'Distance : {distance:6f}')

#Q5. Write a program to perform following operation
##- addition
##- substraction
##- multiplication
##- division
##- modulo
##- imteger divivsion

#on two integer number

In [ ]:
num1 = int(input('Enter a 1st number: '))
num2 = int(input('Enter a 2nd number: '))

#addition
print(f'Addition of {num1} and {num2} is : {num1 + num2}')

#subtraction
print(f'Subtraction of {num1} and {num2} is : {num1 - num2}')

#multiplication
print(f'Multiplication of {num1} and {num2} is : {num1 * num2}')

#division
print(f'Division of {num1} and {num2} is : {num1 / num2}')

#integer division or floor division
print(f'integer/floor division of {num1} and {num2} is : {num1 // num2}')

#modulo
print(f'Modulo Division of {num1} and {num2} is : {num1 % num2}')

#Q6. Write a program to perform following operation
##- addition
##- substraction
##- multiplication
##- division
##- modulo
##- imteger divivsion

#on two floating point numbers

In [ ]:
num1 = float(input('Enter a 1st number: '))
num2 = float(input('Enter a 2nd number: '))

#addition
print(f'Addition of {num1} and {num2} is : {num1 + num2}')

#subtraction
print(f'Subtraction of {num1} and {num2} is : {num1 - num2}')

#multiplication
print(f'Multiplication of {num1} and {num2} is : {num1 * num2}')

#division
print(f'Division of {num1} and {num2} is : {num1 / num2}')

#integer division or floor division
print(f'integer/floor division of {num1} and {num2} is : {num1 // num2}')

#modulo
print(f'Modulo Division of {num1} and {num2} is : {num1 % num2}')

#Q7. Write a program to demonstrate the use of relational operator.

In [ ]:
x = 10
y = 20

#equal to
print(f'{x} == {y}: {x == y}')

#not equal
print(f'{x} != {y}: {x != y}')

#greater than
print(f'{x} > {y}: {x > y}')

#less than
print(f'{x} < {y}: {x < y}')

#greater equal
print(f'{x} >= {y}: {x >= y}')

#less equal
print(f'{x} <= {y}: {x <= y}')

#Q8. Write a program to calculate the area of circle

In [ ]:
from math import pi

radious = float(input('Enter the radious: '))
area = pi * radious * radious
circumference = 2 * pi * radious
print(f'Area:{round(area, 2)}, CircumFerence:{round(circumference, 2)}')

#Q9. Write a program to print the digit at one's place of number.

In [ ]:
num = int(input('Enter a number: '))
digit_at_once_pos = num % 10
print(f'The digit at once place of {num} is: {digit_at_once_pos}')

#Q10. Write a program to calculate average average of two numbers, print there deviation.

In [ ]:
num1 = int(input('Enter 1st number: '))
num2 = int(input('Enter 2nd number: '))

#average
avg = (num1 + num2) / 2
print(f'Average : {avg}')

#deviation
dev1 = num1 - avg
dev2 = num2 - avg
print(f'Deviation of 1st number : {dev1}')
print(f'Deviation of 2nd number : {dev2}')

#Q11. Wite a program to convert fahrenheit to celsius.

In [ ]:
fah = float(input('Enter the temperature in Fehrenheit: '))
cel = 0.56 * (fah-32)
print(f'Temperature in degree celsius: {cel}')

Enter the temperature in Fehrenheit: 104.3
Temperature in degree celsius: 40.488

#Q12. Write a program to calculate the total amount of money in the piggybank given the coins of Rs 10, 5, 2, 1

In [ ]:
num10 = int(input('Enter the numberof 10rs coins in the piggybank: '))
num5 = int(input('Enter the numberof 5rs coins in the piggybank: '))
num2 = int(input('Enter the numberof 2rs coins in the piggybank: '))
num1 = int(input('Enter the numberof 1rs coins in the piggybank: '))

total_amount = (10*num10) + (5*num5) + (2*num2) + (1*num1)
print(f'Total amount in piggybank is: {total_amount}')

Enter the numberof 10rs coins in the piggybank: 6
Enter the numberof 5rs coins in the piggybank: 10
Enter the numberof 2rs coins in the piggybank: 15
Enter the numberof 1rs coins in the piggybank: 20
Total amount in piggybank is: 160

#Q13. Write a program to calculate the bill amount fir an item given quantity sold, value, discount and tax

In [ ]:
qty = float(input('Enter the quantity of item sold: '))
val = float(input('Enter the value of item: '))
discount = float(input('Enter the discount percentage: '))
tax = float(input('Enter the tax: '))
amt = qty * val
dis_amt = (amt * discount) / 100
sub_total = amt - dis_amt
tax_amt = (sub_total * tax) / 100
total_amount = sub_total + tax_amt

print('#'*15, 'BILL', '#'*15)

print(f'Sold Quantity:               {qty}')
print(f'Price per item:              {val}')

print('   \t\t ------------------')

print(f'Amount:                     {amt}')
print(f'Discount:                   {discount}')

print('   \t\t ------------------')

print(f'Sub-Total:                  {sub_total}')
print(f'Tax:                        {tax_amt}')

print('   \t\t ------------------')

print(f'Total amount to be paid:    {total_amount}')

Enter the quantity of item sold: 80
Enter the value of item: 100
Enter the discount percentage: 10
Enter the tax: 14
############### BILL ###############
Sold Quantity:               80.0
Price per item:              100.0
   		 ------------------
Amount:                     8000.0
Discount:                   10.0
   		 ------------------
Sub-Total:                  7200.0
Tax:                        1008.0
   		 ------------------
Total amount to be paid:    8208.0

#Q14. Write a program to calculate a student result based on two examineation, 1 sport event and 3 sctivity conducted. the weightage of activity =30 % , sport=20%, examination=50%.

In [ ]:
activity_w = 30
sport_w = 20
examination_w = 50

exam_total = 200
activity_total = 60
sport_total = 50

exam_scor1 = int(input('Enter the mark in 1st examination (out of 100): '))
exam_scor2 = int(input('Enter the mark in 2nd examination (out of 100): '))

sport_score = int(input('Enter the obtain score in sport activity (out of 50): '))

activity_score1 = int(input('Enter the mark in 1st activity (out of 20): '))
activity_score2 = int(input('Enter the mark in 2nd activity (out of 20): '))
activity_score3 = int(input('Enter the mark in 3rd activity (out of 20): '))

exam_total_score = exam_scor1 + exam_scor2
activity_total_score = activity_score1 + activity_score2 + activity_score3

exam_per = float(exam_total_score * examination_w / exam_total)
sport_per = float(sport_score * sport_w / sport_total)
activity_per = float(activity_total * activity_w / activity_total)
total_per = exam_per + sport_per + activity_per

print('#'*18, 'Result', '#'*19)
print(f'Total percentage in examination:      {exam_per}')
print(f'Total percentage in sport:            {sport_per}')
print(f'Total percentage in activity:         {activity_per}')
print('-'*45)
print(f'Total percentage in total percentage: {total_per}')

Enter the mark in 1st examination (out of 100): 19
Enter the mark in 2nd examination (out of 100): 20
Enter the obtain score in sport activity (out of 50): 50
Enter the mark in 1st activity (out of 20): 20
Enter the mark in 2nd activity (out of 20): 13
Enter the mark in 3rd activity (out of 20): 10
################## Result ###################
Total percentage in examination:      9.75
Total percentage in sport:            20.0
Total percentage in activity:         30.0
---------------------------------------------
Total percentage in total percentage: 59.75

#Q15. Write a program to convert a floating point number into the corresponding integer.

In [ ]:
a = float(input('Enter the floating point number: '))
print(f'Befor converting: {a}, Type:{type(a)}')

b = int(a)
print(f'After converting: {b}, Type: {type(b)}')

Enter the floating point number: 67.80
Befor converting: 67.8, Type:<class 'float'>
after converting: 67, Type: <class 'int'>

Q16. Write a program to convert an integer into the corresponding floating point number

In [ ]:
a = int(input('Enter the integer number: '))
print(f'Befor converting: {a}, Type:{type(a)}')

b = float(a)
print(f'After converting: {b}, Type: {type(b)}')

Enter the integer number: 123
Befor converting: 123, Type:<class 'int'>
After converting: 123.0, Type: <class 'float'>

#Q17. Write a program to determine whether a person is eligible for vote.

In [ ]:
age = int(input('Enter age: '))
if age >= 18:
  print('You are eligible for vote.')

Enter age: 19
You are eligible for vote.

#Q18. Write a program to determine the character entered by the user.

In [ ]:
while True:
  character = input('Enter something: ')
  if character.isalpha():
    print('User entered the character.')
  elif character.isdigit():
    print('User entered digit.')
  elif character.isspace():
    print('User enter space.')
  else:
    print('User enter special charcter.')
    break

Enter something: as
User entered the character.
Enter something: 12
User entered digit.
Enter something:
User enter space.
Enter something: !@
User enter special charcter.

#Q19. Write a program to determine whether a person is eligible to vote or not if he/she is not eligible, then  display how many year are left to be eligible.

In [ ]:
while True:
  age = int(input('Enter Your Age: '))
  if age > 17:
    print('You are eligible for vote.')
  else:
    year_rem = 18 - age
    print(f'You have to wait for {year_rem} years to cast your vote')
    break

Enter Your Age: 19
You are eligible for vote.
Enter Your Age: 20
You are eligible for vote.
Enter Your Age: 10
You have to wait for 8 years to cast your vote

#Q20. Write a program to find larger of two number.

In [ ]:
i = 0
while i < 2:
  print(f'Case {i}:')
  num1 = int(input('Enter the 1st number: '))
  num2 = int(input('Enter the 2nd number: '))
  if num1 > num2:
    print(f'{num1} is larger than {num2}')
  else:
    print(f'{num2} is larger than {num2}')
  i += 1

Case 0:
Enter the 1st number: 50
Enter the 2nd number: 30
50 is larger than 30
Case 1:
Enter the 1st number: 30
Enter the 2nd number: 50
50 is larger than 50

#Q21 Write a program to find whether the given number is even or odd.

In [ ]:
i = 0
while i < 2:
  print(f'Case {i}:')
  num = int(input('Enter a number: '))
  if num % 2 == 0:
    print(f'{num} is even.')
  else:
    print(f'{num} is odd.')
  i += 1
  print()

Case 0:
Enter a number: 20
20 is even.

Case 1:
Enter a number: 19
19 is odd.

#Q22. Write a program to entered any string/character. 
- if the entered character is an lowercase then convert it into uppercase,
- if it is an uppercase charcater then convert it into lower case.

In [ ]:
while True:
  character = input('Enter something: ')
  if character.islower():
    print(f'Entered string is {character} after converting {character.upper()}')
  elif character.isupper():
    print(f'Entered string is {character} after converting {character.lower()}')
  else:
    print('Uppercase and lowercase combination not allowed!!')
    break

Enter something: sopan
Entered string is sopan after converting SOPAN
Enter something: SOPAN
Entered string is SOPAN after converting sopan
Enter something: Sopan
Uppercase and lowercase combination not allowed!!

#Q23. 
**A company decide to give bonus to all empployee on diwali. A 5% bonus on salary is given to the male worker and 10% bonus on salary to the female worker 
write a program to enter the salary of employee, if the salary less than 10000 then the employee get 2% extra bonus on salary.
Calcualte the bonus that has to be given to the employee and display the salary that the employee will get.**

In [ ]:
sex = input('Enter the sex of employee(M/F): ')
salary = float(input('Enter employee salary: '))

if salary <= 10000:
  if sex == 'F' or sex == 'f':
    bonus = 0.12 * salary
  elif sex == 'M' or sex == 'm':
    bonus = 0.07 * salary
else:
  if (sex == 'F' or sex == 'f'):
    bonus = 0.10 * salary
  elif sex == 'M' or sex == 'm':
    bonus = 0.05 * salary

total_amount = salary + bonus
print(f'Salary: {salary}\nBonus: {bonus}')
print(f'Total amount to be paid: {total_amount}')

Enter the sex of employee(M/F): f
Enter employee salary: 10000
Salary: 10000.0
Bonus: 1200.0
Total amount to be paid: 11200.0

#Q24. Write a program to find whether a given year is a leap year or not.

In [ ]:
year = int(input('Enter year: '))
if (year%100!=0 and year%4==0) or year%400==0:
  print('leap year')
else:
  print('Not a leap year!!')

Enter year: 2020
leap year

#Q25. Write a program that prompt the user to enter a number and then print its interval.

In [ ]:
#interval between 0-50
num = int(input('Enter any number in range 0-50: '))
if 0 <= num and num<=10:
  print('It is in range 0-10.')
elif 11 <= num and num <=20:
  print('It is in range 11-20.')
elif 21 <= num and num <=30:
  print('It is in range 21-30.')
elif 31 <= num and num <=40:
  print('It is in range 31-40.')
elif 41 <= num and num <=50:
  print('It is in range 41-50.')

Enter any number in range 0-50: 49
It is in range 41-50.

#Q26. write a program to test whether numbered enter by user is positive or negative, or equal to zero

In [ ]:
num = int(input('Enter any number: '))
if num > 0:
  print(f'{num} is positive.')
elif num < 0:
  print(f'{num} is Negative.')
else:
  print(f'{num} is equal to zero.')

Enter any number: 0
0 is equal to zero.

 # Q27. Write a program to determine whether the character is vowel or not.

In [ ]:
ch = input('Enter any character: ')
if ch in 'aeiou':
  print(f'{ch} is vowel.')
else:
  print(f'{ch} is not vowel.')

Enter any character: o
o is vowel.

#Q28. Write a program to find the greatest number from three numbers.

In [ ]:
num1 = int(input('Enter 1st number: '))
num2 = int(input('Enter 2nd number: '))
num3 = int(input('Enter 3rd number: '))
if num1 > num2 and num1 > num3:
  print(f'{num1} is greatest.')
elif num2 > num3:
  print(f'{num2} is greatest.')
else:
  print(f'{num3} is greatest.')

Enter 1st number: 80
Enter 2nd number: 78
Enter 3rd number: 58
80 is greatest.

#Q29. Write a program that prompts the user to enter a number between 1-7 and then display the corresponding day of week.

In [ ]:
num = int(input('Enter number between 1-7: '))

if num == 1: print('Sunday.')
elif num == 2: print('Monday.')
elif num == 3: print('Tuesday.')
elif num == 4: print('Wednesday.')
elif num == 5: print('Thursday.')
elif num == 6: print('Friday.')
elif num == 7: print('Saturday.')
else: print('Enter valid number between 1-7...!')

Enter number between 1-7: 5
Thursday.

#Q30. Write a program to calculate tax given the following condition.
if income is less than 1,50,000 then no tax, 
if taxable income is 1,50,001 - 3,00,000 then charge 10% tax, 
if taxable income is 3,00,001 - 5,00,000 then charge 20% tax,
if taxable income is above 5,00,001 then charge 30% tax.

In [ ]:
income = int(input('Enter the income: '))
taxable_income = income - 1_50_000
if taxable_income <= 0:
  print('No tax.')
elif taxable_income > 1_50_000 and taxable_income <= 3_00_000:
  tax = (taxable_income - 1_50_001) * 0.10
  print(f'You have to pay {tax} tax')
elif taxable_income > 3_00_000 and taxable_income <= 5_00_000:
  tax = (taxable_income - 3_00_001) * 0.20
  print(f'You have to pay {tax} tax')
elif taxable_income > 5_00_000:
  tax = (taxable_income - 5_00_001) * 0.30
  print(f'You have to pay {tax} tax')

#you can also solve using else block

Enter the income: 20_00_000
You have to pay 404999.7 tax